
<div class="main-content container-fluid">
	<div class="row">
		<div class="col-12 col-lg-6 col-xl-3">
			<div class="widget widget-tile"
				style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
				<div class="data-info" style="text-align: center;">
					<div class="desc"
						style="font-size: 17px; font-weight: 600; font-style: italic;">Tổng
						số người dùng</div>
					<div class="value">
						<span class="indicator indicator-equal mdi mdi-chevron-right"></span><span
							class="number" data-toggle="counter" data-end="113">250</span>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12 col-lg-6 col-xl-3">
			<div class="widget widget-tile"
				style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
				<div class="data-info" style="text-align: center;">
					<div class="desc"
						style="font-size: 17px; font-weight: 600; font-style: italic;">Tổng
						số đơn hàng</div>
					<div class="value">
						<span class="indicator indicator-equal mdi mdi-chevron-right"></span><span
							class="number" data-toggle="counter" data-end="113">113</span>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12 col-lg-6 col-xl-3">
			<div class="widget widget-tile"
				style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
				<div class="data-info" style="text-align: center;">
					<div class="desc"
						style="font-size: 17px; font-weight: 600; font-style: italic;">Tổng
						số sản phẩm</div>
					<div class="value">
						<span class="indicator indicator-equal mdi mdi-chevron-right"></span><span
							class="number" data-toggle="counter" data-end="113">500</span>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12 col-lg-6 col-xl-3">
			<div class="widget widget-tile"
				style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
				<div class="data-info" style="text-align: center;">
					<div class="desc"
						style="font-size: 17px; font-weight: 600; font-style: italic;">Tổng
						số nhà cung cấp</div>
					<div class="value">
						<span class="indicator indicator-equal mdi mdi-chevron-right"></span><span
							class="number" data-toggle="counter" data-end="113">50</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="card card-table m-3"
				style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
				<div class="card-header justify-content-between align-items-center"
					style="text-align: center;">
					<h4 class="mb-0"
						style="font-size: 25px; font-weight: 500; font-style: italic;">Danh
						sách hóa đơn chờ xử lý</h4>
				</div>
				<div class="card-body">
					<table class="table">
						<thead style="font-size: 18px; font-style: italic;">
							<tr>
								<th>1111</th>
								<th>2222</th>
								<th>3333</th>
								<th>4444</th>
								<th>5555</th>
								<th>6666</th>
								<th class="actions"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td class="actions">
									<button class="btn btn-space btn btn-primary "
										ng-click="confirmRestoreModal1(branditem)">
										<i class="mdi mdi-refresh-alt"></i>
									</button>
								</td>
							</tr>
							<tr>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td class="actions">
									<button class="btn btn-space btn btn-primary "
										ng-click="confirmRestoreModal1(branditem)">
										<i class="mdi mdi-refresh-alt"></i>
									</button>
								</td>
							</tr>
							<tr>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td class="actions">
									<button class="btn btn-space btn btn-primary "
										ng-click="confirmRestoreModal1(branditem)">
										<i class="mdi mdi-refresh-alt"></i>
									</button>
								</td>
							</tr>
							<tr>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td class="actions">
									<button class="btn btn-space btn btn-primary "
										ng-click="confirmRestoreModal1(branditem)">
										<i class="mdi mdi-refresh-alt"></i>
									</button>
								</td>
							</tr>
							<tr>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td class="actions">
									<button class="btn btn-space btn btn-primary "
										ng-click="confirmRestoreModal1(branditem)">
										<i class="mdi mdi-refresh-alt"></i>
									</button>
								</td>
							</tr>
							<tr>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td class="actions">
									<button class="btn btn-space btn btn-primary "
										ng-click="confirmRestoreModal1(branditem)">
										<i class="mdi mdi-refresh-alt"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card card-table m-3"
				style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
				<div class="card-header justify-content-between align-items-center "
					style="text-align: center;">
					<h4 class="mb-0"
						style="font-size: 25px; font-weight: 500; font-style: italic;">Danh
						sách người dùng vừa đăng ký gần nhất</h4>
				</div>
				<div class="card-body">
					<table class="table">
						<thead style="font-size: 18px; font-style: italic;">
							<tr>
								<th>1111</th>
								<th>2222</th>
								<th>3333</th>
								<th>4444</th>
								<th>5555</th>
								<th>6666</th>
								<th class="actions"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td class="actions">
									<button class="btn btn-space btn btn-primary "
										ng-click="confirmRestoreModal1(branditem)">
										<i class="mdi mdi-refresh-alt"></i>
									</button>
								</td>
							</tr>
							<tr>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td class="actions">
									<button class="btn btn-space btn btn-primary "
										ng-click="confirmRestoreModal1(branditem)">
										<i class="mdi mdi-refresh-alt"></i>
									</button>
								</td>
							</tr>
							<tr>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td class="actions">
									<button class="btn btn-space btn btn-primary "
										ng-click="confirmRestoreModal1(branditem)">
										<i class="mdi mdi-refresh-alt"></i>
									</button>
								</td>
							</tr>
							<tr>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td class="actions">
									<button class="btn btn-space btn btn-primary "
										ng-click="confirmRestoreModal1(branditem)">
										<i class="mdi mdi-refresh-alt"></i>
									</button>
								</td>
							</tr>
							<tr>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td class="actions">
									<button class="btn btn-space btn btn-primary "
										ng-click="confirmRestoreModal1(branditem)">
										<i class="mdi mdi-refresh-alt"></i>
									</button>
								</td>
							</tr>
							<tr>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td>1234</td>
								<td class="actions">
									<button class="btn btn-space btn btn-primary "
										ng-click="confirmRestoreModal1(branditem)">
										<i class="mdi mdi-refresh-alt"></i>
									</button>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>



	</div>
</div>
