<div class="content-wrapper">
    <div class="card mb-5"
        style="box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;">
        <div class="card-body">
            <h4 class="card-title">Form nhà cung cấp</h4>
            <div class="row">
                <div class="form-group col-md-6">
                    <div>
                        <label>Tên nhà cung cấp</label>
                        <input class="form-control" id="inputPassword3" type="text" placeholder="Tên nhà cung cấp"
                            required="" ng-model="form.supplierName">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword3">Địa chỉ</label>
                    <input class="form-control" id="inputPassword3" type="text" placeholder="Địa chỉ" required=""
                        ng-model="form.addresss">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputPassword3">Số điện thoại</label>
                    <input class="form-control" id="inputPassword3" type="text" placeholder="Số điện thoại" required=""
                        ng-model="form.phone">
                </div>

                <div class="form-group col-md-6">
                    <label for="inputPassword4">Email</label>
                    <input class="form-control" id="inputPassword4" type="text" placeholder="Email" required=""
                        ng-model="form.email">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-form-label text-sm-left" style="padding: 0">Hiển thị</label>
                <div class="form-check mt-1">
                    <label class="custom-control custom-radio custom-control-inline">
                        <input ng-model="form.display" class="custom-control-input" ng-value="true" type="radio"
                            name="status1" checked=""><span class="custom-control-label custom-control-color">Bật</span>
                    </label> <label class="custom-control custom-radio custom-control-inline">
                        <input ng-model="form.display" class="custom-control-input" ng-value="false" type="radio"
                            name="status1"><span class="custom-control-label custom-control-color">Tắt</span>
                    </label>
                </div>
            </div>
            <div class="template-demo text-right mb-3">
                <button type="button" ng-click="create()" class="btn btn-outline-primary btn-fw" data-toggle="tooltip"
                    title="Thêm nhà cung cấp mới">
                    <span class="fa fa-plus-circle"></span>
                </button>
                <button type="button" ng-click="update()" class="btn btn-outline-warning btn-fw" data-toggle="tooltip"
                    title="Cập nhật nhà cung cấp">
                    <span class="fa fa-wrench"></span>
                </button>
                <button type="button" ng-click="confirmHide()" type="submit" class="btn btn-outline-danger btn-fw"
                    data-toggle="tooltip" title="Xóa nhà cung cấp">
                    <span class="ti-trash"></span>
                </button>
                <button type="button" ng-click="reset()" class="btn btn-outline-dark btn-fw" data-toggle="tooltip"
                    title="Làm mới">
                    <span class="fa fa-refresh"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="card"
        style="box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;">

        <!-- 	thùng rác bắt đầu -->
        <div class="modal fade" id="recycleBinModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true"
            style="overflow: hidden;">
            <div class="modal-dialog modal-dialog-centered modal-xl"
                style="width: 1800px; height: 600px; margin: 0 auto;">
                <div class="modal-content" style="background-color: #eee;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="searchModalLabel">Thùng rác</h5>
                        <button class="close modal-close" type="button" data-dismiss="modal" aria-hidden="true">
                            <span class="mdi mdi-close"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Mã nhà cung cấp</th>
                                    <th>Tên nhà cung cấp</th>
                                    <th>Địa chỉ</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th>Hiển thị</th>
                                    <th class="actions"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in RestorePager.itemsss">
                                    <td data-toggle="tooltip" title="{{item.supplierId}}">{{item.supplierId}}</td>
                                    <td data-toggle="tooltip" title="{{item.supplierName}}">{{item.supplierName}}</td>
                                    <td data-toggle="tooltip" title="{{item.addresss}}">{{ formatAddress(item.addresss) }}</td>
                                    <td data-toggle="tooltip" title="{{formatPhoneNumber(item.phone)}}">{{ formatPhoneNumber(item.phone) }}</td>
                                    <td data-toggle="tooltip" title="{{item.email}}">{{item.email}}</td>
                                    <td data-toggle="tooltip" title="{{item.display ? 'Đang bật' : 'Đang tắt'}}">{{item.display ? 'Đang bật' : 'Đang tắt'}}</td>
                                    <td class="actions">
                                        <button class="btn btn-space btn btn-primary " ng-click="restore(item)">
                                            <i class="ti-back-right"></i>
                                        </button>
                                        <button class="btn btn-space btn btn-danger " ng-click="confirmDelete(item)">
                                            <i class="ti-trash"></i>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="d-flex justify-content-end">
                            <div>
                                <ul class="pagination">
                                    <li class="page-item">
                                        <button ng-click="RestorePager.first()" class="page-link">
                                            <span class="ti-angle-double-left"></span>
                                        </button>
                                    </li>

                                    <li class="page-item" ng-repeat="RestorePage in RestoreVisiblePages"
                                        ng-class="{ 'active': (RestorePager.value === RestorePager.RestorePage + 1) }">
                                        <a class="page-link" href=""
                                            ng-click="RestorePager.RestoreGoto(RestorePage.value)">{{
                                            RestorePage.value }}</a>
                                    </li>
                                    <li class="page-item">
                                        <button ng-click="RestorePager.last()" class="page-link">
                                            <span class="ti-angle-double-right"></span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="background-color: #eee;">
                        <button class="btn btn-secondary modal-close" type="button" data-dismiss="modal">Hủy</button>

                    </div>
                </div>
            </div>
        </div>
        <!-- thùng rác kết thúc -->
        <div class="card-body">
            <div class="card card-table m-3">
                <h4 class="mb-0">Danh sách nhà cung cấp</h4>
                <div class="d-flex align-items-center">
                    <div style="width: 75%;">
                        <form method="post" style="margin-left: 20px;">
                            <div class="form-group">
                                <label for="searchKeyword"></label>
                                <input class="form-control" type="text" id="searchKeyword" ng-model="searchKeyword"
                                    placeholder="Tìm kiếm nhà cung cấp" ng-change="searchByName()"
                                    title="Tìm kiếm nhà cung cấp">
                            </div>
                        </form>
                    </div>

                    <!-- Thẻ select box -->
                    <select class="form-control mr-2" ng-model="selectedDisplay" ng-change="filterByDisplay()"
                        data-toggle="tooltip" title="Lọc theo trạng thái" style="width: 15%; margin-left: 10px;">
                        <option value="">Tất cả trạng thái</option>
                        <option value="true">Đang bật</option>
                        <option value="false">Đang tắt</option>
                    </select>
                    <div class="d-flex">
                        <button type="button" class="btn btn-outline-success btn-fw mr-2 exportExcel" data-toggle="tooltip"
                            title="Xuất file Excel">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 48 48">
                                <path fill="#4CAF50" d="M41,10H25v28h16c0.553,0,1-0.447,1-1V11C42,10.447,41.553,10,41,10z"></path><path fill="#FFF" d="M32 15H39V18H32zM32 25H39V28H32zM32 30H39V33H32zM32 20H39V23H32zM25 15H30V18H25zM25 25H30V28H25zM25 30H30V33H25zM25 20H30V23H25z"></path><path fill="#2E7D32" d="M27 42L6 38 6 10 27 6z"></path><path fill="#FFF" d="M19.129,31l-2.411-4.561c-0.092-0.171-0.186-0.483-0.284-0.938h-0.037c-0.046,0.215-0.154,0.541-0.324,0.979L13.652,31H9.895l4.462-7.001L10.274,17h3.837l2.001,4.196c0.156,0.331,0.296,0.725,0.42,1.179h0.04c0.078-0.271,0.224-0.68,0.439-1.22L19.237,17h3.515l-4.199,6.939l4.316,7.059h-3.74V31z"></path>
                            </svg>
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-fw exportPdf" data-toggle="tooltip"
                            title="Xuất file PDF" style="margin-right: 10px;">
                            <span class="fa fa-file-pdf-o"></span>
                        </button>

                        <!-- Nút thùng rác -->
                        <button ng-click="openRecycleBinForm()" class="btn btn-outline-warning btn-fw"
                            data-toggle="tooltip" title="Thùng rác">
                            <span class="ti-trash"></span>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th ng-repeat="column in sortableColumns" ng-click="sortByColumn(column.name)">{{
                                    column.label }}
                                    <span ng-if="sortColumn === column.name"> <span ng-if="sortReverse"
                                            class="ti-angle-double-down"></span> <span ng-if="!sortReverse"
                                            class="ti-angle-double-up"></span>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in pager.itemss">
                                <td data-toggle="tooltip" title="{{item.supplierId}}">{{item.supplierId}}</td>
                                <td data-toggle="tooltip" title="{{item.supplierName}}">{{item.supplierName}}</td>
                                <td data-toggle="tooltip" title="{{item.addresss}}">{{ formatAddress(item.addresss) }}</td>
                                <td data-toggle="tooltip" title="{{formatPhoneNumber(item.phone)}}">{{ formatPhoneNumber(item.phone) }}</td>
                                <td data-toggle="tooltip" title="{{item.email}}">{{item.email}}</td>
                                <td data-toggle="tooltip" title="{{item.display ? 'Đang bật' : 'Đang tắt'}}">{{item.display ? 'Đang bật' : 'Đang tắt'}}</td>
                                <td class="actions">
                                    <button ng-click="edit(item)" class="btn btn-inverse-primary btn-rounded btn-icon"
                                        data-toggle="tooltip" data-placement="top" title="Chỉnh sửa">
                                        <i class="ti-pencil"></i>
                                    </button>
                                    <button ng-click="confirmHideTable(item)"
                                        class="btn btn-inverse-danger btn-rounded btn-icon" data-toggle="tooltip"
                                        data-placement="top" title="Xóa">
                                        <i class="ti-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end">
                        <div>
                            <ul class="pagination">
                                <li class="page-item">
                                    <button ng-click="pager.first()" class="page-link">
                                        <span class="ti-angle-double-left"></span>
                                    </button>
                                </li>

                                <li class="page-item" ng-repeat="page in visiblePages"
                                    ng-class="{ 'active': (page.value === pager.page + 1) }"><a class="page-link"
                                        href="" ng-click="pager.goto(page.value)">{{
                                        page.value }}</a></li>

                                <li class="page-item">
                                    <button ng-click="pager.last()" class="page-link">
                                        <span class="ti-angle-double-right"></span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>