<style>
    .card {
        margin-top: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    /* Định dạng card-header */
    .card-header {
        background-color: #3498db;
        color: #fff;
        border-bottom: 1px solid #ddd;
    }

    /* CSS cho table */
    .table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    /* Định dạng các input và select */
    .form-control {
        border-radius: 4px;
        margin-bottom: 10px;
    }

    /* CSS cho các hàng chẵn */
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    /* CSS cho header của bảng */
    .table th {
        background-color: #4CAF50;
        color: white;
        text-align: left;
    }

    /* CSS cho các ô trong bảng */
    .table td,
    .table th {
        padding: 12px 15px;
        border-bottom: 1px solid #ddd;
    }
</style>
<!-- <div class="nemain-content contair-fluid" style="margin-bottom: 100px; height: 483px;">
    <div class="card" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; height: 580px;">
        <div class="rounded-top bg-primary card-header card-header-divider">
            <span class="card-subtitle" style="color: white; font-size: 18px;">Thống kê số lượng sản phẩm đã nhập</span>
        </div>
        <div class="card-body container">
            <div class="row">
                <div class="col-sm-3">
                    <label for="">Năm</label>
                    <select class="form-control" ng-model="selectedYear" ng-options="year for year in years"
                        ng-change="updateChartData()">
                        <option value="">Chọn năm</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label for="">Tháng</label>
                    <select class="form-control" ng-model="selectedMonth" ng-options="month for month in months"
                        ng-change="updateChartData()">
                        <option value="">Chọn tháng</option>
                    </select>
                </div>
            </div>
            <canvas id="column-chart" height="80"></canvas>
        </div>
    </div>
</div> -->

<div class="content-wrapper">
    <div class="card" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;">
        <div class="rounded-top bg-primary card-header card-header-divider">
            <span class="card-subtitle" style="color: white; font-size: 18px;">Thống kê số lượng sản phẩm đã nhập</span>
        </div>
        <div class="card-body container">
            <div class="row">
                <div class="col-sm-3">
                    <label for="">Năm</label>
                    <select class="form-control" ng-model="selectedYear" ng-options="year for year in years"
                        ng-change="updateChartData()">
                        <option value="">Chọn năm</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label for="">Tháng</label>
                    <select class="form-control" ng-model="selectedMonth" ng-options="month for month in months"
                        ng-change="updateChartData()">
                        <option value="">Chọn tháng</option>
                    </select>
                </div>
            </div>
            <canvas id="column-chart" height="80"></canvas>
        </div>
    </div>
</div>


<!-- <div class="col-md-6">
                <div class="card card-table"
                    style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
                    <div
                        class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="mb-0"
                            style="font-size: 25px; font-weight: 500; font-style: italic;">Danh
                            sách sản phẩm theo danh mục</h4>
                        <div class="d-flex align-items-center">
                            <select id="categorySelect" class="form-control"
                                ng-model="selectedCategory" ng-change="loadProductsByCategory()"
                                style="width: 230px; height: 50px;">
                                <option value="" disabled selected>Vui lòng chọn danh
                                    mục</option>
                                <option ng-repeat="category in categories"
                                    value="{{category.categoryID}}">{{category.categoryName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead style="font-size: 18px; font-style: italic;">
                                <tr>
                                    <th>STT</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Tên màu</th>
                                    <th>Size</th>
                                    <th>Số lượng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="products in pager.filteredProducts">
                                    <td>{{ $index + 1 }}</td>
                                    <td>{{ products.product.productName }}</td>
                                    <td>{{ products.color.colorName }}</td>
                                    <td>{{ products.size.sizeNumber }}</td>
                                    <td>{{ products.quantity }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="card-header d-flex justify-content-end">
                            <div>
                                <ul class="pagination">
                                    <li class="page-item">
                                        <button style="font-size: 25px" ng-click="pager.first()"
                                            class="page-link">
                                            <span class="mdi mdi-skip-previous"></span>
                                        </button>
                                    </li>
    
                                    <li class="page-item" ng-repeat="page in visiblePages"
                                        ng-class="{ 'active': (page.value === pager.page + 1) }"><a
                                        class="page-link" href="" ng-click="pager.goto(page.value)">{{
                                            page.value }}</a></li>
    
                                    <li class="page-item">
                                        <button style="font-size: 25px" ng-click="pager.last()"
                                            class="page-link">
                                            <span class="mdi mdi-skip-next"></span>
                                        </button>
                                    </li>
                                </ul>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

<!-- </div> -->
<!-- </div> -->