<div class="content-wrapper">
	<div class="card"
		style="box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;">
		<div class="card-body">
			<h4 class="mb-3">Danh sách sản phẩm yêu thích</h4>
			<div class="d-flex justify-content-between align-items-center">
				<!-- <div class="col-sm-3 stretch-card transparent">
					<div class="card card-tale">
						<div class="card-body">
							<h4>Tổng lượt yêu thích : {{countF}}</h4>
						</div>
					</div>
				</div> -->
				<!-- <div class="col-sm-2 stretch-card transparent">
						<div class="card card-tale">
							<div class="card-body">
								<h4>Hihi : {{mostLikedProduct.productName}}</h4>
							</div>
						</div>
					</div> -->
				<div class="row">
					<div class="col-sm-4">
						<label>Tên sản phẩm:</label>
						<select ng-model="selectedProduct" ng-change="filterByProduct()" class="form-control">
							<option value="">Chọn sản phẩm</option>
							<option ng-repeat="item in prods" ng-value="{{item.productID}}">{{item.productName}}
							</option>
						</select>
					</div>
					<div class="col-sm-4">
						<label>Tên khách hàng:</label>
						<select ng-model="selectedUser" ng-change="filterByUser()" class="form-control">
							<option value="">Chọn khách hàng</option>
							<option ng-repeat="item in users" value="{{item.usersId}}">{{item.fullName}}</option>
						</select>
					</div>
					<div class="col-sm-4 mt-4">
						<button type="button" class="btn btn-outline-success btn-fw mr-2 exportExcel" data-toggle="tooltip"
							title="Xuất file Excel">
							<span class="fa fa-file-excel-o" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-outline-danger btn-fw mr-2 exportPdf" data-toggle="tooltip"
							title="Xuất file PDF">
							<span class="fa fa-file-pdf-o" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-2 mt-2">
					<p>Số yêu thích: <strong>{{countF}}</strong></p>
				</div>
				<div class="col-sm-4 mt-2">
					<p>Sản phẩm được yêu thích nhiều nhất: <strong>{{mostLikedProduct[0]}} ({{mostLikedProduct[1]}})</strong></p>
				</div>
				<div class="col-sm-3"></div>
				<div class="input-group mb-3 col-sm-3">
					<div class="input-group-prepend">
					  <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
					</div>
					<input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm" ng-model="keySearch" ng-change="searchProductName()">
				  </div>
			</div>
			<table class="table table-hover" id="sampleTable">
				<thead>
					<tr>
						<th ng-repeat="column in sortableColumns" ng-click="sortByColumn(column.name)">{{ column.label
							}} <span ng-if="sortColumn === column.name"> <span ng-if="sortReverse"
									class="ti-angle-double-down"></span> <span ng-if="!sortReverse"
									class="ti-angle-double-up"></span>
							</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="favoritem in pager.favoriteitems">
						<td>{{favoritem.favoriteId}}</td>
						<td>{{favoritem.product.productName}}</td>
						<td>{{favoritem.user.fullName}}</td>
						<td>{{favoritem.dateLike | date:'dd-MM-yyyy'}}</td>
					</tr>
				</tbody>
			</table>
			<div class="d-flex justify-content-end mt-3">
				<div>
					<ul class="pagination">
						<li class="page-item">
							<button ng-click="pager.first()" class="page-link">
								<span class="ti-angle-double-left"></span>
							</button>
						</li>

						<li class="page-item" ng-repeat="page in visiblePages"
							ng-class="{ 'active': (page.value === pager.page + 1) }"><a class="page-link" href=""
								ng-click="pager.goto(page.value)">{{
								page.value }}</a></li>

						<li class="page-item">
							<button ng-click="pager.last()" class="page-link">
								<span class="ti-angle-double-right"></span>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>