<div class="content-wrapper">
	<div class="card mb-5"
		style="box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;">
		<div class="card-body">
			<h4 class="card-title">Hình ảnh</h4>
			<div class="row">
				<div class="form-group col-md-6">
					<label for="inputUserName">Mã màu:</label> <input
						class="form-control" id="inputUserName" type="text"
						ng-model="form.productImageID" readonly="true">
				</div>
				<div class="form-group col-md-6">
					<label>Sản phẩm</label>
					<div>
						<select class="select2 form-control"
							ng-model="form.product.productID">
							<option value="" disabled selected>Vui lòng chọn sản
								phẩm</option>
							<option ng-repeat="p in prods" ng-value="p.productID">{{p.productName}}</option>
						</select>
					</div>
				</div>
			</div>

			<div class="row">

				<div class="form-group col-md-12">
					<label for="inputPassword3">Hình ảnh</label> <input
						class="form-control" id="photo" type="file">
				</div>

			</div>
			<div class="form-group col-md-12" ng-if="form.imagePath">
				<label>Hình ảnh</label> <img style="height: 20%; width: 20%;" alt=""
					src="{{ form.imagePath }}">
			</div>

			<div class="template-demo text-right mb-3">
				<button type="button" ng-click="create()"
					class="btn btn-outline-primary btn-fw" data-toggle="tooltip"
					title="Thêm sản phẩm mới">
					<span class="ti-agenda"></span>
				</button>
				<button type="button" ng-click="update()"
					class="btn btn-outline-warning btn-fw" data-toggle="tooltip"
					title="Cập nhật sản phẩm">
					<span class="ti-support"></span>
				</button>
				<button type="button" ng-click="confirmDelete()" type="submit"
					class="btn btn-outline-danger btn-fw" data-toggle="tooltip"
					title="Xóa sản phẩm">
					<span class="ti-trash"></span>
				</button>
				<button type="button" ng-click="reset()"
					class="btn btn-outline-dark btn-fw" data-toggle="tooltip"
					title="Làm mới form">
					<span class="ti-control-shuffle"></span>
				</button>
			</div>
		</div>
	</div>

	<div class="card"
		style="box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;">
		<div class="card-body">
			<div class="d-flex justify-content-between align-items-center">
				<h4 class="mb-0">Danh sách hình ảnh</h4>
				<!-- tìm kiếm theo tên bắt đầu  -->
				<div class="d-flex">
					<!-- Thẻ select box -->
					<select class="form-control mr-2" ng-model="selectedProduct"
						ng-change="filterByProduct()" data-toggle="tooltip"
						title="Lọc theo tên sản phẩm"
						ng-options="product.productID as product.productName for product in prods"
						style="width: 200px;">
						<option value="">Tất cả sản phẩm</option>
					</select>
					<button type="button"
						class="btn btn-outline-success btn-fw mr-2 export"
						data-toggle="tooltip" title="Xuất file Excel">
						<span class="fa ti-file"></span>
					</button>
					<button type="button"
						class="btn btn-outline-danger btn-fw mr-2 pdf-file"
						data-toggle="tooltip" title="Xuất file PDF">
						<span class="ti-files"></span>
					</button>
					<!-- Nút tìm kiếm -->
					<button ng-click="searchColorByName()"
						class="btn btn-outline-info btn-fw mr-2" data-toggle="tooltip"
						title="Tìm kiếm">
						<span class="ti-search"></span>
					</button>
				</div>
			</div>
			<table class="table table-hover" id="sampleTable">
				<thead>
					<tr>
						<th ng-repeat="column in sortableColumns"
							ng-click="sortByColumn(column.name)">{{ column.label }} <span
							ng-if="sortColumn === column.name"> <span
								ng-if="sortReverse" class="mdi mdi-long-arrow-down"></span> <span
								ng-if="!sortReverse" class="mdi mdi-long-arrow-up"></span>
						</span>
						</th>
						<th class="actions"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="productimageitem in pager.productimageitems">
						<td>{{productimageitem.productImageID}}</td>
						<td>{{productimageitem.product.productName}}</td>
						<td>{{productimageitem.modifyDate | date: 'dd-MM-yyyy'}}</td>
						<td>
							<div class="image-container">
								<img class="image-content" alt="{{productimageitem.imagePath}}"
									src="{{productimageitem.imagePath}}">
							</div>
						</td>
						<td class="actions">
							<button ng-click="edit(productimageitem)"
								class="btn btn-inverse-primary btn-rounded btn-icon"
								data-toggle="tooltip" data-placement="top" title="Chỉnh sửa">
								<i class="ti-pencil"></i>
							</button>
							<button ng-click="confirmDeleteTable(productimageitem)"
								class="btn btn-inverse-danger btn-rounded btn-icon"
								data-toggle="tooltip" data-placement="top" title="Xóa">
								<i class="ti-trash"></i>
							</button>
						</td>
					</tr>

				</tbody>
			</table>
			<div class="d-flex justify-content-end">
				<div>
					<ul class="pagination">
						<li class="page-item">
							<button ng-click="pager.first()" class="page-link">
								<span class="ti-angle-double-left"></span>
							</button>
						</li>

						<li class="page-item" ng-repeat="page in visiblePages"
							ng-class="{ 'active': (page.value === pager.page + 1) }"><a
							class="page-link" href="" ng-click="pager.goto(page.value)">{{
								page.value }}</a></li>

						<li class="page-item">
							<button ng-click="pager.last()" class="page-link">
								<span class="ti-angle-double-right"></span>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>