<div class="card card-border-color card-border-color-primary m-3">
	<div class="modal fade modal-full-color modal-full-color-danger"
		id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close modal-close" type="button"
						data-dismiss="modal" aria-hidden="true">
						<span class="mdi mdi-close"></span>
					</button>
				</div>
				<div class="modal-body" style="color: white;">
					<div class="text-center">
						<span class="modal-main-icon mdi mdi-close-circle-o mb-3"></span>
						<b>
							<h4 style="color: white;">{{ errorMessage }}</h4>
						</b>
						<div class="mt-8">
							<button class="btn btn-secondary btn-space modal-close"
								type="button" data-dismiss="modal"
								style="background-color: white; color: red;">Đóng</button>
						</div>
					</div>
				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>

	<!-- Modal for displaying error messages -->
	<div class="modal fade modal-full-color modal-full-color-success"
		id="errorModal1" tabindex="-1" aria-labelledby="errorModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close modal-close" type="button"
						data-dismiss="modal" aria-hidden="true">
						<span class="mdi mdi-close"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="text-center">
						<span class="modal-main-icon mdi mdi-check mb-3"></span><b>
							<h4 style="color: white;">{{ messageSuccess }}</h4>
						</b>
						<div class="mt-8">
							<button class="btn btn-secondary btn-space modal-close"
								type="button" data-dismiss="modal"
								style="background-color: white; color: green;">Đóng</button>
						</div>
					</div>
				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>

	<!-- modal xác nhận xóa vào thùng rác-->
	<div class="modal fade" id="confirmHideModal" tabindex="-1"
		role="dialog" aria-labelledby="confirmHideModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmHideModalLabel">Xác nhận
						xóa</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">Bạn có chắc chắn muốn xóa sản phẩm "{{
					form.productName }}" này không?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Hủy</button>
					<button type="button" class="btn btn-danger"
						ng-click="confirmHide()">Xóa</button>
				</div>
			</div>
		</div>
	</div>

	<!-- modal xác nhận khôi phục item từ thùng rác-->
	<div class="modal fade" id="confirmRestoreModal" tabindex="-1"
		role="dialog" aria-labelledby="confirmRestoreModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmRestoreModalLabel">Xác nhận
						khôi phục</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">Bạn có chắc chắn muốn khôi phục sản
					phẩm "{{ form.productName }}" này không?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Hủy</button>
					<button type="button" class="btn btn-danger" ng-click="restore()">Khôi
						phục</button>
				</div>
			</div>
		</div>
	</div>


	<!-- modal xác nhận xóa luôn-->
	<div class="modal fade" id="confirmDeleteModal" tabindex="-1"
		role="dialog" aria-labelledby="confirmDeleteModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận
						xóa</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">Bạn có chắc chắn muốn xóa sản phẩm "{{
					form.productName }}" này không?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Hủy</button>
					<button type="button" class="btn btn-danger"
						ng-click="confirmDelete()">Xóa</button>
				</div>
			</div>
		</div>
	</div>


	<div class="card-header card-header-divider">Sản phẩm</div>
	<div class="card-body">
		<div class="row">
			<div class="form-group col-md-4">
				<label for="inputUserName">Mã sản phẩm:</label> <input
					class="form-control" id="inputUserName" type="number"
					placeholder="Mã sản phẩm" ng-model="form.productID" readonly="true">
			</div>
			<div class="form-group col-md-4">
				<label for="inputPassword3">Người tạo</label> <input
					class="form-control" id="inputPassword3" type="text" required=""
					ng-model="form.user.fullName" placeholder="Người tạo"
					readonly="true">
			</div>
			<div class="form-group col-md-4">
				<label for="ngaytao" class="form-label fs-17">Ngày tạo:</label>
				<div ng-model="form.createdDate" class="form-control" id="ngaytao"
					readonly="true" placeholder="dd-MM-yyyy">{{ form.createdDate
					| date:'dd-MM-yyyy' }}</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-6">
				<label>Danh mục</label>
				<div>
					<select class="select2 form-control"
						ng-model="form.category.categoryID">
						<option value="" disabled selected>Vui lòng chọn danh mục</option>
						<option ng-repeat="p in cates" ng-value="p.categoryID">{{p.categoryName}}</option>
					</select>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label>Thương hiệu</label>
				<div>
					<select class="select2 form-control" ng-model="form.brand.brandID">
						<option value="" disabled selected>Vui lòng chọn thương
							hiệu</option>
						<option ng-repeat="p in brans" ng-value="p.brandID">{{p.brandName}}</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-6">
				<label for="inputPassword4">Tên sản phẩm</label> <input
					class="form-control" id="inputPassword4" type="text" required=""
					placeholder="Tên sản phẩm" ng-model="form.productName">
			</div>

			<div class="form-group col-md-6">
				<label for="inputPassword1">Giá</label> <input class="form-control"
					id="inputPassword1" type="number" required="" ng-model="form.price"
					placeholder="Giá sản phẩm">
			</div>


		</div>

		<div class="row">
			<div class="form-group col-md-6">
				<label class="col-form-label text-sm-left">Trạng thái</label>
				<div class="form-check mt-1">
					<label class="custom-control custom-radio custom-control-inline">
						<input ng-model="form.activities" class="custom-control-input"
						ng-value="true" type="radio" name="available" checked=""><span
						class="custom-control-label custom-control-color">Bật</span>
					</label> <label class="custom-control custom-radio custom-control-inline">
						<input ng-model="form.activities" class="custom-control-input"
						ng-value="false" type="radio" name="available"><span
						class="custom-control-label custom-control-color">Tắt</span>
					</label>
				</div>
			</div>

			<div class="form-group col-md-6">
				<label class="col-form-label text-sm-left">Sản phẩm nổi bật</label>
				<div class="form-check mt-1">
					<label class="custom-control custom-radio custom-control-inline">
						<input ng-model="form.featured" class="custom-control-input"
						ng-value="true" type="radio" name="featured" checked=""><span
						class="custom-control-label custom-control-color">Bật</span>
					</label> <label class="custom-control custom-radio custom-control-inline">
						<input ng-model="form.featured" class="custom-control-input"
						ng-value="false" type="radio" name="featured"><span
						class="custom-control-label custom-control-color">Tắt</span>
					</label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-12">
				<label class="col-form-label text-sm-left" for="inputTextarea3">Mô
					tả</label>
				<div class="">
					<textarea class="form-control" id="inputTextarea3"
						ng-model="form.description" rows="5"></textarea>
				</div>
			</div>
		</div>
	</div>

	<div class="row pt-0 pt-sm-5">
		<div class="col-sm-12 pl-0">
			<p class="text-right">
				<button class="btn btn-space btn btn-success" ng-click="create()"
					type="submit">
					<i class="bi bi-file-plus-fill"></i> Thêm
				</button>
				<button class="btn btn-space btn btn-primary" ng-click="update()">
					<i class="bi bi-pencil-square"></i> Sửa
				</button>
				<button class="btn btn-space btn btn-danger"
					ng-click="confirmHideModal()" type="submit">
					<i class="bi bi-trash3-fill"></i> Xóa
				</button>
				<button class="btn btn-space btn btn-dark" ng-click="reset()">
					<i class="bi bi-arrow-clockwise"></i> Làm mới
				</button>
			</p>
		</div>
	</div>
</div>
</div>

<div class="card card-table m-3">
	<div
		class="card-header d-flex justify-content-between align-items-center">
		<h4 class="mb-0">Danh sách sản phẩm</h4>

		<div class="d-flex">
			<!-- Nút tìm kiếm -->
			<button class="btn btn-space btn-success md-trigger"
				ng-click="openSearchForm()" style="width: 50px; height: 43px">
				<span class="mdi mdi-search"></span>
			</button>
			<!-- Nút thùng rác -->
			<button class="btn btn-space btn-danger md-trigger"
				ng-click="openRecycleBinForm()" style="width: 50px; height: 43px">
				<span class="mdi mdi-delete"></span>
			</button>
		</div>
	</div>
	<!-- tìm kiếm theo tên bắt đầu  -->
	<div class="modal fade" id="searchModal" tabindex="-1"
		aria-labelledby="searchModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content" style="background-color: #eee;">
				<div class="modal-header">
					<h5 class="modal-title" id="searchModalLabel">Tìm kiếm</h5>
					<button class="close modal-close" type="button"
						data-dismiss="modal" aria-hidden="true">
						<span class="mdi mdi-close"></span>
					</button>
				</div>
				<div class="modal-body">
					<form method="post">
						<div class="form-group">
							<label for="searchKeyword">Tên sản phẩm</label> <input
								class="form-control" type="text" id="searchKeyword"
								ng-model="searchKeyword"
								placeholder="Nhập tên sản phẩm mà bạn muốn tìm kiếm">
						</div>
					</form>
				</div>
				<div class="modal-footer" style="background-color: #eee;">
					<button class="btn btn-secondary modal-close" type="button"
						data-dismiss="modal">Hủy</button>
					<button class="btn btn-success modal-close" type="button"
						ng-click="searchProductByName()">Tìm kiếm</button>
				</div>
			</div>
		</div>
	</div>
	<!-- tìm kiếm theo tên kết thúc -->

	<!-- 	thùng rác bắt đầu -->
	<div class="modal fade" id="recycleBinModal" tabindex="-1"
		aria-labelledby="searchModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content" style="background-color: #eee;">
				<div class="modal-header">
					<h5 class="modal-title" id="searchModalLabel">Thùng rác</h5>
					<button class="close modal-close" type="button"
						data-dismiss="modal" aria-hidden="true">
						<span class="mdi mdi-close"></span>
					</button>
				</div>
				<div class="modal-body">
					<table class="table">
						<thead>
							<tr>
								<th ng-repeat="column in sortableColumns"
									ng-click="sortByColumn(column.name)">{{ column.label }} <span
									ng-if="sortColumn === column.name"> <span
										ng-if="sortReverse" class="mdi mdi-long-arrow-down"></span> <span
										ng-if="!sortReverse" class="mdi mdi-long-arrow-up"></span>
								</span>
								</th>

								<th class="actions"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="productitem in RestorePager.productitemss">
								<td>{{productitem.productID}}</td>
								<td>{{productitem.createdDate | date: 'dd-MM-yyyy'}}</td>
								<td>{{productitem.productName}}</td>
								<td>{{productitem.price | number: 0 }}đ</td>
								<td>{{productitem.category.categoryName}}</td>
								<td>{{productitem.brand.brandName}}</td>
								<td>{{productitem.activities ? 'Đang bật' : 'Đang tắt' }}</td>
								<td>{{productitem.featured ? 'Đang bật' : 'Đang tắt' }}</td>
								<td class="actions">
									<button class="btn btn-space btn btn-primary "
										ng-click="confirmRestoreModal1(productitem)">
										<i class="mdi mdi-refresh-alt"></i>
									</button>
									<button class="btn btn-space btn btn-danger "
										ng-click="confirmDeleteModal1(productitem)">
										<i class="bi bi-trash3-fill"></i>
									</button>
								</td>
							</tr>

						</tbody>
					</table>
					<div class="card-header d-flex justify-content-end">
						<div>
							<ul class="pagination">
								<li class="page-item">
									<button style="font-size: 25px" ng-click="RestorePager.first()"
										class="page-link">
										<span class="mdi mdi-skip-previous"></span>
									</button>
								</li>

								<li class="page-item"
									ng-repeat="RestorePage in RestoreVisiblePages"
									ng-class="{ 'active': (RestorePager.value === RestorePager.RestorePage + 1) }"><a
									class="page-link" href=""
									ng-click="RestorePager.RestoreGoto(RestorePage.value)">{{
										RestorePage.value }}</a></li>


								<li class="page-item">
									<button style="font-size: 25px" ng-click="RestorePager.last()"
										class="page-link">
										<span class="mdi mdi-skip-next"></span>
									</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="modal-footer" style="background-color: #eee;">
					<button class="btn btn-secondary modal-close" type="button"
						data-dismiss="modal">Hủy</button>

				</div>
			</div>
		</div>
	</div>
	<!-- thùng rác kết thúc -->
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th ng-repeat="column in sortableColumns"
						ng-click="sortByColumn(column.name)">{{ column.label }} <span
						ng-if="sortColumn === column.name"> <span
							ng-if="sortReverse" class="mdi mdi-long-arrow-down"></span> <span
							ng-if="!sortReverse" class="mdi mdi-long-arrow-up"></span>
					</span>
					</th>
					<th class="actions"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="productitem in pager.productitems">
					<td>{{productitem.productID}}</td>
					<td>{{productitem.createdDate | date: 'dd-MM-yyyy'}}</td>
					<td>{{productitem.productName}}</td>
					<td>{{productitem.price | number: 0 }}đ</td>
					<td>{{productitem.category.categoryName}}</td>
					<td>{{productitem.brand.brandName}}</td>
					<td>{{productitem.activities ? 'Đang bật' : 'Đang tắt' }}</td>
					<td>{{productitem.featured ? 'Đang bật' : 'Đang tắt' }}</td>
					<td class="actions">
						<button class="btn btn-space btn btn-primary "
							ng-click="edit(productitem)">
							<i class="bi bi-pencil-square"></i>
						</button>
						<button class="btn btn-space btn btn-danger "
							ng-click="confirmHideModal1(productitem)">
							<i class="bi bi-trash3-fill"></i>
						</button>
					</td>
				</tr>

			</tbody>
		</table>
		<div class="card-header d-flex justify-content-end">
			<div>
				<ul class="pagination">
					<li class="page-item">
						<button style="font-size: 25px" ng-click="pager.first()"
							class="page-link">
							<span class="mdi mdi-skip-previous"></span>
						</button>
					</li>

					<li class="page-item" ng-repeat="page in visiblePages"
						ng-class="{ 'active': (page.value === pager.page + 1) }"><a
						class="page-link" href="" ng-click="pager.goto(page.value)">{{
							page.value }}</a></li>

					<li class="page-item">
						<button style="font-size: 25px" ng-click="pager.last()"
							class="page-link">
							<span class="mdi mdi-skip-next"></span>
						</button>
					</li>
				</ul>

			</div>
		</div>
	</div>

</div>
<div style="color: #eee;">123</div>