<!-- <div class="card card-border-color card-border-color-primary m-3"> -->
<!-- <!-- Modal for displaying error messages --> -->
<!-- <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true"> -->
<!--     <div class="modal-dialog"> -->
<!--         <div class="modal-content" style="text-align: center;"> -->
<!--             <div class="modal-header" style="background-color: #FF6666; color: white;"> -->
<!--                 <h5 class="modal-title" id="errorModalLabel"><b>Lỗi</b></h5> -->
<!--                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
<!--             </div> -->
<!--             <div class="modal-body" style="color: red"> -->
<!--                 <b>{{ errorMessage }}</b><br> -->
<!--                 <span style="font-size: 30px"><i class="bi bi-exclamation-triangle"></i></span> -->
<!--                  Display the error message here -->
<!--             </div> -->
<!--             <div class="modal-footer"> -->
<!--                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background: #FF6666">Đóng</button> -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
<!-- </div> -->

<!-- <!-- Modal for displaying error messages --> -->
<!-- <div class="modal fade" id="errorModal1" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true"> -->
<!--     <div class="modal-dialog"> -->
<!--         <div class="modal-content" style="text-align: center;"> -->
<!--             <div class="modal-header" style="background-color: #00CC66; color: white;"> -->
<!--                 <h5 class="modal-title" id="errorModalLabel"><b>Thông báo</b></h5> -->
<!--                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
<!--             </div> -->
<!--             <div class="modal-body" style="color: green;"> -->
<!--                 <b>{{ messageSuccess }}</b><br> -->
<!--                 <span style="font-size:50px"><i class="bi bi-check"></i></span> -->
<!--                  Display the error message here -->
<!--             </div> -->
<!--             <div class="modal-footer"> -->
<!--                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background: #00CC66">Đóng</button> -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
<!-- </div> -->
<!--                 <div class="card-header card-header-divider">Đơn hàng</div> -->
<!--                 <div class="card-body"> -->
<!--                         <div class="row"> -->
<!--                             <div class="form-group col-md-6"> -->
<!--                                 <label for="inputUserName">Mã hóa đơn chi tiết:</label> -->
<!--                                 <input class="form-control" id="inputUserName" type="text" ng-model="form.orderDetailID" -->
<!--                                     readonly="true"> -->
<!--                             </div> -->
<!--                             <div class="form-group col-md-6"> -->
<!--                                 <label>Sản phẩm</label> -->
<!--                                 <div> -->
<!--                                     <select class="select2 form-control" ng-model="form.product.productID"> -->
<!--                                         <option value="" disabled selected>Vui lòng chọn sản phẩm</option> -->
<!--                                         <option ng-repeat="p in prods" ng-value="p.productID">{{p.productName}}</option> -->
<!--                                     </select> -->
<!--                                 </div> -->
<!--                             </div> -->
<!--                         </div> -->

<!--                         <div class="row"> -->
<!--                             <div class="form-group col-md-6"> -->
<!--                                 <label for="inputPassword3">Mã hóa đơn</label> -->
<!--                                 <div> -->
<!--                                     <select class="select2 form-control" ng-model="form.order.orderID"> -->
<!--                                         <option value="" disabled selected>Vui lòng chọn mã hoá đơn</option> -->
<!--                                         <option ng-repeat="o in orders" ng-value="o.orderID">{{o.orderID}}</option> -->
<!--                                     </select> -->
<!--                                 </div> -->
<!--                             </div> -->

<!--                             <div class="form-group col-md-6"> -->
<!--                                 <label for="inputPassword4">Màu</label> -->
<!--                                     <select class="select2 form-control" ng-model="form.color.colorID"> -->
<!--                                         <option value="" disabled selected>Vui lòng chọn màu</option> -->
<!--                                         <option ng-repeat="c in colors" ng-value="c.colorID">{{c.colorName}}</option> -->
<!--                                     </select> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                         <div class="row"> -->
<!--                         <div class="form-group col-md-4"> -->
<!--                                 <label for="inputPassword">Số lượng</label> -->
<!--                                 <input class="form-control" id="inputPassword" type="number" placeholder="Số lượng" -->
<!--                                     required="" ng-model="form.quantity"> -->
<!--                             </div> -->
<!--                             <div class="form-group col-md-4"> -->
<!--                                 <label for="inputPassword1">Đơn giá</label> -->
<!--                                 <input class="form-control" id="inputPassword" type="number" placeholder="Đơn giá" -->
<!--                                     required="" ng-model="form.price"> -->
<!--                             </div> -->
<!--                             <div class="form-group col-md-4"> -->
<!--                                 <label for="inputPassword2">Giảm giá</label>  -->
<!--                                 <input class="form-control" id="inputPassword" type="number" placeholder="Giảm giá" -->
<!--                                     required="" ng-model="form.discount"> -->
<!-- 			                </div> -->
<!--                         </div> -->
<!--                         <div class="row pt-0 pt-sm-5"> -->
<!--                             <div class="col-sm-12 pl-0"> -->
<!-- 				<p class="text-right"> -->
<!-- 					<button class="btn btn-space btn btn-secondary" ng-click="create()" -->
<!-- 						type="submit">Thêm</button> -->
<!-- 					<button class="btn btn-space btn btn-secondary" ng-click="update()">Sửa</button> -->
<!-- 					<button class="btn btn-space btn btn-secondary" -->
<!-- 						ng-click="delete(form)" type="submit">Xóa</button> -->
<!-- 					<button class="btn btn-space btn btn-secondary" ng-click="reset()">Làm -->
<!-- 						mới</button> -->
<!-- 				</p> -->
<!-- 			</div> -->
<!--                         </div> -->
                    
<!--                 </div> -->
<!--             </div> -->

<!--             <div class="card card-table m-3"> -->
<!--                 <div class="card-header">Basic Tables -->
<!--                 </div> -->
<!--                 <div class="card-body"> -->
<!--                     <table class="table"> -->
<!--                         <thead> -->
<!--                             <tr> -->
<!--                                 <th>Mã hóa đơn chi tiết</th> -->
<!--                                 <th>Sản phẩm</th> -->
<!--                                 <th>Mã hóa đơn</th> -->
<!--                                 <th>Màu</th> -->
<!--                                 <th>Số lượng</th> -->
<!--                                 <th>Đơn giá</th> -->
<!--                                 <th>Giảm giá</th> -->
<!--                                 <th class="actions"></th> -->
<!--                             </tr> -->
<!--                         </thead> -->
<!--                         <tbody> -->
<!--                             <tr ng-repeat="orderdetailitem in pager.orderdetailitems"> -->
<!--                                 <td>{{orderdetailitem.orderDetailID}}</td> -->
<!--                                 <td>{{orderdetailitem.product.productName}}</td> -->
<!--                                 <td>{{orderdetailitem.order.orderID}}</td> -->
<!--                                 <td>{{orderdetailitem.color.colorName}}</td> -->
<!--                                 <td>{{orderdetailitem.quantity}}</td> -->
<!--                                 <td>{{orderdetailitem.price}}</td> -->
<!--                                 <td>{{orderdetailitem.discount}}</td> -->
<!--                                 <td class="actions"> -->
<!--                                     <button class="icon" ng-click="edit(orderdetailitem)"><i class="mdi mdi-edit mx-2"></i></button> -->
<!--                                     <button class="icon" ng-click="delete(orderdetailitem)"><i class="mdi mdi-delete"></i></button> -->
<!--                                 </td> -->
<!--                             </tr> -->

<!--                         </tbody> -->
<!--                     </table> -->
<!--                     <div class="card-header d-flex justify-content-end"> -->
<!--                         <div> -->
<!--                             <ul class="pagination"> -->
<!-- 								<li class="page-item"><button ng-click="pager.first()" class="page-link">First</button></li> -->
<!-- 								<li class="page-item"><button ng-click="pager.prev()" class="page-link">Pre</button></li> -->
<!-- 								<li class="page-item"><button class="page-link">{{pager.page + 1}} of {{pager.count}}</button></li> -->
<!-- 								<li class="page-item"><button ng-click="pager.next()" class="page-link">Next</button></li> -->
<!-- 								<li class="page-item"><button ng-click="pager.last()" class="page-link">Last</button></li> -->
<!-- 							</ul> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->

<!--             </div> -->
<!--             <div style="color: #eee;">123</div> -->

<!DOCTYPE html>
<html ng-app="orderApp">
<head>
    <!-- Include AngularJS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>

<div ng-controller="OrderDetailController">
    <h1>Order Detail</h1>
    <button ng-click="getOrderDetails(8)">Get Order Details</button>
    <table>
        <tr ng-repeat="orderDetail in orderDetails">
            <td>{{ orderDetail.ProductName }}</td>
            <td>{{ orderDetail.ColorName }}</td>
            <td>{{ orderDetail.Quantity }}</td>
            <!-- Add more columns as needed -->
        </tr>
    </table>
</div>

<script>
    var app = angular.module('orderApp', []);

    app.controller('OrderDetailController', function($scope, $http) {
        $scope.orderDetails = [];

        $scope.getOrderDetails = function(orderID) {
            $http.get('/rest/orderdetails/' + orderID)
                .then(function(response) {
                    $scope.orderDetails = response.data;
                });
        };
    });
</script>

</body>
</html>
