<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/users/layout_user :: content(~{::body},~{::title})}">

<head>

  <title>SUS || BLOG</title>

</head>

<body>
  
  <section class="w3l-banner-slider-main inner-pagehny">
    <div class="breadcrumb-infhny">

        <div class="top-header-content">

            <header class="tophny-header">
                <div class="container-fluid">
                    <div class="top-right-strip row">
                        <!--/left-->
                        <div class="top-hny-left-content col-lg-6 pl-lg-0">


                        </div>
                        <!--//left-->
                       
                        <div class="overlay-login text-left">
                            <button type="button" class="overlay-close1">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            <div class="wrap">
                                <h5 class="text-center mb-4">Đăng nhập</h5>
                                <div class="login-bghny p-md-5 p-4 mx-auto mw-100">
                                    <!--/login-form-->
                                    <form action="#" method="post">
                                        <div class="form-group">
                                            <p class="login-texthny mb-2">Địa chỉ Email</p>
                                            <input type="email" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" placeholder="" required="">
                                            <small id="emailHelp" class="form-text text-muted">Chúng tôi sẽ không
                                                bao giờ chia sẻ email của bạn với bất kỳ ai khác</small>
                                        </div>
                                        <div class="form-group">
                                            <p class="login-texthny mb-2">Mật khẩu</p>
                                            <input type="password" class="form-control" id="exampleInputPassword1"
                                                placeholder="" required="">
                                        </div>
                                        <div class="form-check mb-2">
                                            <div class="userhny-check">
                                                <label class="check-remember container">
                                                    <input type="checkbox" class="form-check"> <span
                                                        class="checkmark"></span>
                                                    <p class="privacy-policy">Ghi nhớ</p>
                                                </label>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="submit-login btn mb-4">OK</button>

                                    </form>
                                    <!--//login-form-->
                                </div>
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
                
            </header>
            <div class="breadcrumb-contentnhy">
                <div class="container">
                    <nav aria-label="breadcrumb">
                        <h2 class="hny-title text-center">Blog</h2>
                        <ol class="breadcrumb mb-0">
                            <li><a href="/index">Home</a>
                                <span class="fa fa-angle-double-right"></span>
                            </li>
                            <li class="active">Blog</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
</section>

  <div class="right-sidebar-panel-content animated fadeInRight" tabindex="5003"
    style="overflow: hidden; outline: none;">
  </div>
  <section class="blog-post-main">
    <!--/mag-content-->
    <div class="mag-content-inf py-5">
      <div class="container py-lg-5">
        <div style="margin: 8px auto; display: block; text-align:center;">

          <!---728x90--->


        </div>
        <div class="blog-inner-grids">
          <div class="mag-post-left-hny">
            <div class="mag-hny-content">
              <!--/set-1-->
              <div class="blog-pt-grid-content">
                <div class="maghny-gd-1 blog-pt-grid mb-lg-5 mb-4">

                  <a href="#"><img class="img-fluid" src="assets/images/banner3.jpg" alt=""></a>

                  <div class="entry-meta d-flex mt-3"><span class="entry-author">By <a href="#">
                        Admin</a></span><span class="meta-separator">|</span>
                    <a href="#">Jan 22, 2020</a><span class="meta-separator">|</span>
                    <a href="#"> 1 comment</a>
                  </div>
                  <h5 class="blog-title mb-3"><a href="#">Standard post with a single
                      image,There are many variations that focuses on presenting.</a></h5>
                  <p>Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.Nulla
                    quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu
                    mattis.Nulla quis lorem neque,Nulla quis lorem neque, mattis venenatis lectus. In
                    interdum ullamcorper dolor eu mattis.Nulla quis lorem neque, mattis venenatis
                    lectus.</p>

                  <!--/social-icons-->
                  <div class="post-social-box my-lg-5 my-4">
                    <a href="#" class="facebook-post">
                      <span class="fa fa-facebook" aria-hidden="true"></span>
                      <span class="social_info_name">Facebook</span>
                    </a>
                    <a href="#" class="twitter-post">
                      <span class="fa fa-twitter" aria-hidden="true"></span>
                      <span class="social_info_name">Facebook</span>
                    </a>
                    <a href="#" class="google-post">
                      <span class="fa fa-google" aria-hidden="true"></span>
                    </a>
                  </div>
                  <!--//social-icons-->

                  <!--/post-details-sec-->
                  <div class="post-details-sec mb-5">
                    <p> <span class="w-cap">S</span> Vivamus a ligula quam. Ut blandit eu leo non
                      suscipit.
                      Duis feugiat tortor sed.Nulla quis lorem neque, mattis venenatis lectus. In
                      interdum
                      ullamcorper dolor eu mattis.Nulla quis lorem neque,Nulla quis lorem neque,
                      mattis
                      venenatis lectus. In interdum ullamcorper dolor eu mattis.Nulla quis lorem
                      neque,
                      mattis venenatis lectus.</p>
                  </div>
                  <!--//post-details-sec-->

                  <!--/post-details-sec1-->

                  <div class="sing-post-thumb mb-lg-5 mb-4 row">
                    <div class="col-6">
                      <a href="#"><img src="assets/images/left1.jpg" class="img-fluid" alt=""></a>
                    </div>
                    <div class="col-6">
                      <a href="#"><img src="assets/images/left3.jpg" class="img-fluid" alt=""></a>
                    </div>
                  </div>
                  <!--//blog-post-->
                  <p>Vivamus a ligula quam. Ut blandit eu leo non suscipit. <a href="#" class="use-admin">Anna
                      Delpan</a> In interdum ullamcorper dolor eu mattis.Nulla quis lorem neque,Nulla
                    quis
                    lorem neque, mattis venenatis lectus.<a href="#" class="use-admin"> Delpan Deo</a>
                    In
                    interdum ullamcorper dolor eu mattis.Nulla quis lorem neque, mattis venenatis
                    lectus. Duis
                    feugiat tortor sed.Nulla quis lorem neque, mattis venenatis lectus. In interdum
                    ullamcorper
                    dolor eu mattis.Nulla quis lorem neque</p>
                </div>
                <!--//post-details-sec1-->
                <div class="post-content-admin-quote my-lg-5 my-4">
                  <blockquote class="quote-dark mb-3"><span class="fa fa-quote-left mb-3" aria-hidden="true"></span>
                    <p>Vivamus a ligula quam. Ut blandit eu leo non suscipit. In interdum ullamcorper
                      dolor eu
                      mattis.Nulla quis lorem neque,Nulla quis lorem neque, mattis venenatis lectus.
                      In
                      interdum ullamcorper dolor eu mattis.Nulla quis lorem neque, mattis venenatis
                      lectus.</p>

                    <a href="#" class="use-admin2"> Delpan Deo</a>
                  </blockquote>
                  <p>Nulla quis lorem neque,Nulla quis lorem neque, mattis venenatis lectus. In interdum
                    ullamcorper dolor eu mattis.Nulla quis lorem nequeVivamus a ligula quam. Ut blandit
                    eu leo
                    non suscipit. Duis feugiat tortor sed.Nulla quis lorem neque, mattis venenatis
                    lectus. In
                    interdum ullamcorper dolor eu mattis.Nulla quis lorem neque,Nulla quis lorem neque,
                    mattis
                    venenatis lectus .</p>
                </div>

                <!--/admin-->
                <div class="row author-listhny mt-lg-0 mt-4">
                  <div class="author-left col-sm-3 mb-sm-0 mb-4">
                    <a href="#">

                      <img class="img-fluid" src="assets/images/team2.jpg" alt=" ">

                    </a>
                  </div>
                  <div class="author-right col-sm-9 pr-lg-0">
                    <h4><a href="#" class="title-team-28">Lora Grill</a></h4>

                    <p class="para-team">Vivamus a ligula quam. Ut blandit eu leo non suscipit.Nulla
                      quis lorem
                      neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.Nulla
                      quis lorem
                      neque, mattis venenatis lectus.</p>
                    <div class="buttons-teams">
                      <a href="#team" class="facebook"><span class="fa fa-facebook"></span></a>
                      <a href="#team" class="twitter"><span class="fa fa-twitter"></span></a>
                      <a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                      <a href="#pinterest" class="pinterest"><span class="fa fa-pinterest"></span></a>
                      <a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                      <a href="#vk" class="vk"><span class="fa fa-vk"></span></a>
                    </div>

                  </div>

                </div>
                <!--//admin-->
                <!--/admin-->
                <div class="row author-listhny ml-lg-5 mb-lg-5">
                  <div class="author-left col-sm-3 mb-sm-0 mb-4">
                    <a href="#">

                      <img class="img-fluid" src="assets/images/team1.jpg" alt=" ">

                    </a>
                  </div>
                  <div class="author-right col-sm-9 pr-lg-0">
                    <h4><a href="#" class="title-team-28">William Doe</a></h4>

                    <p class="para-team">Vivamus a ligula quam. Ut blandit eu leo non suscipit.Nulla
                      quis lorem
                      neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.Nulla
                      quis lorem
                      neque, mattis venenatis lectus.</p>
                    <div class="buttons-teams">
                      <a href="#team" class="facebook"><span class="fa fa-facebook"></span></a>
                      <a href="#team" class="twitter"><span class="fa fa-twitter"></span></a>
                      <a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                      <a href="#pinterest" class="pinterest"><span class="fa fa-pinterest"></span></a>
                      <a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                      <a href="#vk" class="vk"><span class="fa fa-vk"></span></a>
                    </div>

                  </div>

                </div>
                <!--//admin-->
                <!--/leave-->
                <div class="leave-comment-form mt-lg-5 mt-4" id="comment">
                  <h3 class="hny-title mb-0">Leave a <span>Reply</span></h3>
                  <p class="mb-4">Your email address will not be published. Required fields are marked *
                  </p>
                  <form action="#" method="post">

                    <div class="input-grids row">

                      <div class="form-group col-lg-6">
                        <label>Name *</label>
                        <input type="text" name="Name" class="form-control" placeholder="Your Name" required="">
                      </div>
                      <div class="form-group col-lg-6">
                        <label>Email *</label>
                        <input type="email" name="Email" class="form-control" placeholder="Email" required="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Website</label>
                      <input type="text" name="Email" class="form-control" placeholder="URL" required="">
                    </div>
                    <div class="form-group">
                      <label>Comment</label>
                      <textarea name="Comment" class="form-control" placeholder="Your Comment" required=""
                        spellcheck="false"></textarea>
                    </div>
                    <div class="submit text-right mt-5">
                      <button class="btn btn-primary">Post Comment
                      </button>
                    </div>
                  </form>
                </div>
                <!--//leave-->
                <!--//mag-hny-content-4-->
              </div>
            </div>
          </div>
        </div>
        <!--//mag-content-->
        <div style="margin: 8px auto; display: block; text-align:center;">

          <!---728x90--->

        </div>

  </section>


</body>

</html>