<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/users/layout_user :: content(~{::body},~{::title})}">

<head>

<title>SUS || SẢN PHẨM</title>

</head>

<body ng-controller="favorite-ctrl">
	<section class="w3l-banner-slider-main inner-pagehny">
		<div class="breadcrumb-infhny"
			style="background: url(https://file.hstatic.net/1000143422/collection/banner-gruuv-1600x400-1_b4d2e568c22e46fb9fcee34abbe554be_master.jpg) no-repeat center;">

			<div class="top-header-content">

				<header class="tophny-header">
					<div class="container-fluid">
						<div class="top-right-strip row">
							<!--/left-->
							<div class="top-hny-left-content col-lg-6 pl-lg-0"></div>
							<!--//left-->
							<!--/right-->

							<!--//right-->
							<div class="overlay-login text-left">
								<button type="button" class="overlay-close1">
									<i class="fa fa-times" aria-hidden="true"></i>
								</button>
								<div class="wrap">
									<h5 class="text-center mb-4">Đăng nhập</h5>
									<div class="login-bghny p-md-5 p-4 mx-auto mw-100">
										<!--/login-form-->
										<form action="#" method="post">
											<div class="form-group">
												<p class="login-texthny mb-2">Địa chỉ Email</p>
												<input type="email" class="form-control"
													id="exampleInputEmail1" aria-describedby="emailHelp"
													placeholder="" required=""> <small id="emailHelp"
													class="form-text text-muted">Chúng tôi sẽ không bao
													giờ chia sẻ email của bạn với bất kỳ ai khác</small>
											</div>
											<div class="form-group">
												<p class="login-texthny mb-2">Mật khẩu</p>
												<input type="password" class="form-control"
													id="exampleInputPassword1" placeholder="" required="">
											</div>
											<div class="form-check mb-2">
												<div class="userhny-check">
													<label class="check-remember container"> <input
														type="checkbox" class="form-check"> <span
														class="checkmark"></span>
														<p class="privacy-policy">Ghi nhớ</p>
													</label>
													<div class="clearfix"></div>
												</div>
											</div>
											<button type="submit" class="submit-login btn mb-4">OK</button>

										</form>
										<!--//login-form-->
									</div>
									<!---->
								</div>
							</div>
						</div>
					</div>

				</header>
				<div class="breadcrumb-contentnhy">
					<div class="container">
						<nav aria-label="breadcrumb">
							<h2 class="hny-title text-center">Sản phẩm</h2>
							<ol class="breadcrumb mb-0">
								<li><a href="/index">Trang chủ</a> <span
									class="fa fa-angle-double-right"></span></li>
								<li class="active">Sản phẩm</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
	</section>
	<div class="right-sidebar-panel-content animated fadeInRight"
		tabindex="5003" style="overflow: hidden; outline: none;"></div>
	<section class="w3l-ecommerce-main-inn">
		<!--/mag-content-->
		<div class="ecomrhny-content-inf py-5">
			<div class="container py-lg-5">
				<div style="margin: 8px auto; display: block; text-align: center;">
				</div>
				<!--/row1-->
				<div class="ecommerce-grids row">
					<div class="ecommerce-left-hny col-lg-4">
						<!--/ecommerce-left-hny-->
						<aside>
							<div class="sider-bar">
								<!-- bộ lọc bắt đầu -->
								<form>
									<!-- danh mục sản phẩm bắt đầu-->
									<div class="single-gd mb-3">
										<h4 class="mb-2" data-toggle="collapse"
											data-target="#demoCategory" style="cursor: pointer;">
											Danh mục <span>Sản phẩm</span>
										</h4>
										<ul id="demoCategory" class="list-group single collapse show">
											<li ng-repeat="c in cates"
												class="list-group-item d-flex justify-content-between align-items-center">
												<div class="d-flex align-items-center w-100">
													<label class="flex-grow-1 mb-0"> <input
														class="form-check-input" type="checkbox" name="category"
														value="{{c.categoryID}}"> {{c.categoryName}}
													</label> <span class="badge badge-primary badge-pill ml-2">{{getProductCountCategory(c.categoryID)}}</span>
												</div>
											</li>
										</ul>
									</div>
									<!-- danh mục sản phẩm kết thúc-->

									<!-- Thương hiệu bắt đầu-->
									<div class="single-gd mb-3">
										<h4 class="mb-2" data-toggle="collapse"
										data-target="#demoBrand" style="cursor: pointer;">
											Thương hiệu <span>Sản phẩm</span>
										</h4>
										<ul id="demoBrand" class="list-group single collapse show">
											<li ng-repeat="brand in brans"
												class="list-group-item d-flex justify-content-between align-items-center">
												<div class="d-flex align-items-center w-100">
													<label class="flex-grow-1 mb-0"> <input
														class="form-check-input" type="checkbox" name="brand"
														value="{{brand.brandID}}"> {{brand.brandName}}
													</label> <span class="badge badge-primary badge-pill ml-2">{{getProductCountBrand(brand.brandID)}}</span>
												</div>
											</li>
										</ul>
									</div>
									<!-- Thương hiệu kết thúc-->

									<!-- Size bắt đầu-->
									<div class="single-gd mb-3">
										<h4 class="mb-2" data-toggle="collapse"
										data-target="#demoSize" style="cursor: pointer;">
											Size <span>Sản phẩm</span>
										</h4>
										<ul id="demoSize" class="list-group single collapse">
											<li ng-repeat="size in sizes"
												class="list-group-item d-flex justify-content-between align-items-center">
												<div class="d-flex align-items-center w-100">
													<label class="flex-grow-1 mb-0"> <input
														class="form-check-input" type="checkbox" name="size"
														value="{{size.sizeID}}"> {{size.sizeNumber}}
													</label> <span class="badge badge-primary badge-pill ml-2">{{getSizeCount(size.sizeID)}}</span>
												</div>
											</li>
										</ul>
									</div>
									<!-- Size kết thúc-->

									<!-- Màu sắc bắt đầu-->
									<div class="single-gd mb-3">
										<div>
											<h4 class="mb-2" data-toggle="collapse"
										data-target="#demoColor" style="cursor: pointer;">
												Màu <span>Sản phẩm</span>
											</h4>
										</div>
										<ul id="demoColor" class="list-group single collapse">
											<li ng-repeat="color in colors"
												class="list-group-item d-flex justify-content-between align-items-center">
												<div class="d-flex align-items-center w-100">
													<label class="flex-grow-1 mb-0"> <input
														class="form-check-input" type="checkbox" name="color"
														value="{{color.colorID}}"> {{color.colorName}}
													</label> <span class="badge badge-primary badge-pill ml-2">{{getColorCount(color.colorID)}}</span>
												</div>
											</li>
										</ul>
									</div>
									<!-- Màu sắc kết thúc-->

									<div class="single-gd mb-5">
										<ul class="list-group single">
											<li
												class="list-group-item d-flex justify-content-between align-items-center">
												<button type="button"
													class="transmitv-cart ptransmitv-cart add-to-cart read-2"
													ng-click="filterProducts()" data-toggle="tooltip"
													title="Vui lòng chọn sau đó ấn 'Lọc'">Lọc</button>
											</li>
											<li
												class="list-group-item d-flex justify-content-between align-items-center">
												<button type="button"
													class="transmitv-cart ptransmitv-cart add-to-cart read-2"
													ng-click="clearFilters()" data-toggle="tooltip"
													title="Hủy các phần đã chọn">Hủy</button>
											</li>
										</ul>
									</div>
								</form>
								<!-- bộ lọc kết thúc -->

								<div class="single-gd left-side mb-5">
									<h4>Đánh giá</h4>
									<ul class="ratingshyny">
										<li><a ng-click="filterByAvgs(5)"> <span
												class="fa fa-star" aria-hidden="true"></span> <span
												class="fa fa-star" aria-hidden="true"></span> <span
												class="fa fa-star" aria-hidden="true"></span> <span
												class="fa fa-star" aria-hidden="true"></span> <span
												class="fa fa-star" aria-hidden="true"></span> <span></span>
										</a></li>
										<li><a ng-click="filterByAvgs(4)"> <span
												class="fa fa-star" aria-hidden="true"></span> <span
												class="fa fa-star" aria-hidden="true"></span> <span
												class="fa fa-star" aria-hidden="true"></span> <span
												class="fa fa-star" aria-hidden="true"></span> <span>Trở
													lên</span>
										</a></li>
										<li><a ng-click="filterByAvgs(3)"> <span
												class="fa fa-star" aria-hidden="true"></span> <span
												class="fa fa-star" aria-hidden="true"></span> <span
												class="fa fa-star" aria-hidden="true"></span> <span>Trở
													lên</span>
										</a></li>
										<li><a ng-click="filterByAvgs(2)"> <span
												class="fa fa-star" aria-hidden="true"></span> <span
												class="fa fa-star" aria-hidden="true"></span> <span>Trở
													lên</span>
										</a></li>
										<li><a ng-click="filterByAvgs(1)"> <span
												class="fa fa-star" aria-hidden="true"></span> <span>Trở
													lên</span>
										</a></li>
										<li><a ng-click="filterByAvgs(0)"><span>Tất cả</span>
										</a></li>
									</ul>
								</div>

								<!-- 								<div class="single-gd border-0"> -->
								<!-- 									<h4> -->
								<!-- 										Sản phẩm <span>nổi bật</span> -->
								<!-- 									</h4> -->
								<!-- 									<div class="row special-sec1 mt-4"> -->
								<!-- 										<div class="row mb-3" ng-repeat="product in featureds" -->
								<!-- 											ng-if="$index < 4" -->
								<!-- 											ng-click="saveProductID(product.productID)"> -->
								<!-- 											<div class="col-4 img-deals"> -->
								<!-- 												<a ng-click="goToSinglePage(product.productID)"> <img -->
								<!-- 													class="pic-1 img-fluid" -->
								<!-- 													ng-src="{{product.image[0].imagePath}}"> -->
								<!-- 												</a> -->
								<!-- 											</div> -->
								<!-- 											<div class="col-8 img-deal1"> -->
								<!-- 												<h5 class="post-title title"> -->
								<!-- 													<a ng-click="goToSinglePage(product.productID)"> -->
								<!-- 														{{product.productName}} </a> -->
								<!-- 												</h5> -->
								<!-- 												<a ng-click="goToSinglePage(product.productID)"> <span -->
								<!-- 													class="price-right" -->
								<!-- 													ng-if="product.discount[0].priceDiscount == null">{{product.price -->
								<!-- 														| number:0}} ₫</span> <span class="price-right" -->
								<!-- 													ng-if="product.discount[0].status === 'Đang diễn ra' && product.discount[0].priceDiscount">{{ -->
								<!-- 														product.discount[0].priceDiscount | number:0 }} đ</span> <span -->
								<!-- 													class="price-right" -->
								<!-- 													ng-if="product.discount[0].status !== 'Đang diễn ra' && product.discount[0].priceDiscount">{{ -->
								<!-- 														product.price | number:0 }} đ</span> -->
								<!-- 												</a> -->
								<!-- 											</div> -->
								<!-- 										</div> -->
								<!-- 									</div> -->
								<!-- 								</div> -->

							</div>
						</aside>
						<!--//ecommerce-left-hny-->
					</div>
					<div class="ecommerce-right-hny col-lg-8">
						<div class="row ecomhny-topbar">
							<div class="col-6 ecomhny-result">
								<h4 class="ecomhny-result-count"></h4>
							</div>
							<div class="col-6 ecomhny-topbar-ordering">

								<div class="ecom-ordering-select d-flex">
									<span class="fa fa-angle-down" aria-hidden="true"></span> <select
										id="sortSelect" ng-change="filterByOption()"
										ng-model="selectedOption">
										<option value="">Tất cả</option>
										<option value="name_asc">Sắp xếp theo tên: A -> Z</option>
										<option value="name_desc">Sắp xếp theo tên: Z -> A</option>
										<option value="price_asc">Sắp xếp theo giá: thấp ->
											cao</option>
										<option value="price_desc">Sắp xếp theo giá: cao ->
											thấp</option>
										<option value="price_0_1tr">Lọc theo giá từ 0đ đến
											1.000.000đ</option>
										<option value="price_1tr_2tr">Lọc theo giá từ
											1.000.000đ đến 2.000.000đ</option>
										<option value="price_2tr_plus">Lọc theo giá lớn hơn
											2.000.000đ</option>
										<option value="discounted">Đang giảm giá</option>
										<option value="discount_0_15">Giảm giá 0 --> 15%</option>
										<option value="discount_15_40">Giảm giá 15 --> 40%</option>
										<option value="discount_40_60">Giảm giá 40 --> 60%</option>
										<option value="discount_60">Giảm giá trên 60%</option>
									</select>
								</div>
							</div>
						</div>
						<!-- /row-->
						<div class="ecom-products-grids row">
							<div ng-repeat="p in pager.productitems"
								ng-click="addToRecentlyViewed(p)"
								class="col-lg-4 col-6 product-incfhny mb-4">
								<div class="product-grid2 transmitv"
									ng-click="saveProductID(p.productID)">
									<div class="product-image2" style="position: relative;">
										<div class="discount-circle"
											ng-if="p.discount[0].status === 'Đang diễn ra' && p.discount[0].priceDiscount">{{
											p.discount[0].directDiscount }}%</div>
										<a ng-click="goToSinglePage(p.productID)"> <img
											class="pic-1 img-fluid" ng-src="{{p.image[0].imagePath}}">
											<img ng-if="p.image.length > 1" class="pic-2 img-fluid"
											ng-src="{{p.image[1].imagePath}}"> <img
											ng-if="p.image.length <= 1" class="pic-2 img-fluid"
											ng-src="{{p.image[0].imagePath}}">
										</a>
										<ul class="social">
											<li><span ng-if="isFavorited(p.productID)"
												ng-click="check(p)" class="fa fa-heart liked"
												style="font-size: 24px; color: red;"></span> <span
												ng-if="!isFavorited(p.productID)" ng-click="check(p)"
												class="fa fa-heart-o liked"
												style="font-size: 24px; color: red; font-weight: bold;"></span>
											</li>
										</ul>
										<div class="transmitv single-item">
											<a ng-click="goToSinglePage(p.productID)" type="submit"
												class="transmitv-cart ptransmitv-cart add-to-cart"> Xem
												chi tiết </a>
										</div>
									</div>
									<div class="product-content">
										<h3 class="title">
											<a ng-click="goToSinglePage(p.productID)">{{
												p.productName }}</a>
										</h3>
										<span class="price"
											ng-if="p.discount[0].priceDiscount == null"> {{
											p.price | number:0 }} ₫</span> <span class="price"
											ng-if="p.discount[0].status === 'Đang diễn ra' && p.discount[0].priceDiscount">
											<del>{{ p.price | number:0 }} ₫</del> {{
											p.discount[0].priceDiscount | number:0 }} ₫
										</span> <span class="price"
											ng-if="p.discount[0].status !== 'Đang diễn ra' && p.discount[0].priceDiscount">
											{{ p.price | number:0 }} ₫ </span>
										<div ng-if="p.avgrev" class="d-flex"
											style="justify-content: center;">
											<div class="text-warning"
												ng-repeat="star in getStarAvgs(p.avgrev) track by $index">
												<span ng-class="star" aria-hidden="true"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--/pagination-->
						<div class="pagination" style="margin: 0px 10px 20px;">
							<ul>
								<li class="prev"><a ng-click="pager.first()"><span
										class="fa fa-angle-double-left"></span></a></li>
								<li class="page-item" ng-repeat="page in visiblePages"
									ng-class="{ 'active': (page.value === pager.page + 1) }"><a
									class="page-link" href="" ng-click="pager.goto(page.value)"
									ng-style="page.value === (pager.page + 1) ? { 'background': 'orangered', 'border-color': 'orangered' } : {}">
										{{ page.value }} </a></li>


								<li class="next"><a ng-click="pager.last()"><span
										class="fa fa-angle-double-right"></span></a></li>
							</ul>
						</div>
						<!--//pagination-->
						<!-- //row-->
						<!--/row2-->
						<div class="ecom-slider-hny">
							<div class="ecommerce-banv covers-9">
								<div class="csslider infinity" id="slider1">
									<input type="radio" name="slides" checked="checked"
										id="slides_1" /> <input type="radio" name="slides"
										id="slides_2" /> <input type="radio" name="slides"
										id="slides_3" />

									<ul class="banner_slide_bg">
										<li>
											<div class="wrapper">
												<div class="cover-top-center-9">
													<div class="w3ls_cover_txt-9">
														<h6 class="tag-cover-9">NAM GIỚI</h6>
														<h3 class="title-cover-9">LỊCH LÃM</h3>

														<div class="read-more-button">
															<a href="/list_products" class="read-btn btn">Xem
																ngay</a>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="wrapper">
												<div class="cover-top-center-9">
													<div class="w3ls_cover_txt-9">
														<h6 class="tag-cover-9">TRÃI NGHIỆM</h6>
														<h3 class="title-cover-9">THOẢI MÁI & NĂNG ĐỘNG</h3>

														<div class="read-more-button">
															<a href="/list_products" class="read-btn btn">Xem
																ngay</a>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="wrapper">
												<div class="cover-top-center-9">
													<div class="w3ls_cover_txt-9">
														<h6 class="tag-cover-9">XINH ĐẸP</h6>
														<h3 class="title-cover-9">DÀNH CHO PHÁI NỮ</h3>

														<div class="read-more-button">
															<a href="/list_products" class="read-btn btn">Xem
																ngay</a>
														</div>
													</div>
												</div>
											</div>
										</li>

									</ul>
									<div class="arrows">
										<label for="slides_1"></label> <label for="slides_2"></label>
										<label for="slides_3"></label>

									</div>
									<div class="navigation">
										<div>
											<label for="slides_1"></label> <label for="slides_2"></label>
											<label for="slides_3"></label>

										</div>
									</div>
								</div>
							</div>
						</div>

						<!--//row22-->
					</div>
				</div>
				<!--//row1-->
			</div>
		</div>
		<!--//mag-content-->
	</section>
	<div style="margin: 8px auto; display: block; text-align: center;">

		<!---728x90--->

	</div>
</body>

</html>