<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>STS || OTP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="static/asset/user/css/login/otp.css">
</head>

<body>
<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>
<div class="login-box">
    <form class="form">
        <div class="title">STS OTP</div>
        <div class="title">Xác Thực mã code</div>
        <p class="message">Chúng tôi đã gửi mã OTP đến địa chỉ Email của bạn</p>
        <div class="inputs">
            <input id="input1" name="i1" type="text" maxlength="1" oninput="moveToNextInput(event, 'input2')" onkeypress="return onlyNumber(event)">
            <input id="input2" name="i2" type="text" maxlength="1" oninput="moveToNextInput(event, 'input3')" onkeypress="return onlyNumber(event)">
            <input id="input3" name="i3" type="text" maxlength="1" oninput="moveToNextInput(event, 'input4')" onkeypress="return onlyNumber(event)">
            <input id="input4" name="i4" type="text" maxlength="1">
        </div>
        <a href="#" id="submitData">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Xác Nhận
        </a>
    </form>

    <a href="#" class="coutdown">
            <h6 class="message">Gửi lại mã (------)</h6>
    </a>
</div>
</body>
<script>
    document.getElementById('submitData').addEventListener('click', function (event) {
        event.preventDefault(); // Ngăn chặn hành động mặc định của thẻ a

        var input1 = document.getElementById('input1').value;
        var input2 = document.getElementById('input2').value;
        var input3 = document.getElementById('input3').value;
        var input4 = document.getElementById('input4').value;

        var data = {
            "input1": input1,
            "input2": input2,
            "input3": input3,
            "input4": input4
        };

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/otpAccess', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        console.log(xhr);
        xhr.onreadystatechange = function () {
            if (xhr.status === 200) {
                window.location.href = '/loginSTS'; // Chuyển hướng đến trang khác
            } else {
                document.querySelector('.message').innerText = "Mã OTP chưa đúng!";
            }
        };
        xhr.send(JSON.stringify(data));
    });
</script>
<script>
    function moveToNextInput(event, nextInputId) {
        const input = event.target;
        const inputValue = input.value;

        // Kiểm tra nếu giá trị nhập vào là số
        if (!isNaN(inputValue) && inputValue !== '') {
            const nextInput = document.getElementById(nextInputId);
            if (nextInput) {
                nextInput.focus();
            }
        }
    }

    function onlyNumber(event) {
        const charCode = event.which ? event.which : event.keyCode;

        // Kiểm tra nếu ký tự nhập vào không phải là số (0-9) hoặc nếu không phải phím Backspace hoặc phím Delete
        if (charCode < 48 || charCode > 57) {
            if (charCode !== 8 && charCode !== 46) {
                event.preventDefault();
                return false;
            }
        }
        return true;
    }
</script>
<script>

</script>

</html>