<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/users/layout_user :: content(~{::body},~{::title})}">

<head>

    <title>FSHOP || Thông tin cá nhân</title>

</head>

<body ng-controller="">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="static/asset/user/css/profile/bootstrap.min.css" rel="stylesheet">
<link href="static/asset/user/css/profile/profile.css" rel="stylesheet">
<link rel="stylesheet" href="/asset/user/css/style-liberty.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey profile-main">
    <div class="row">
        <div class="profile-nav col-md-3">
            <div class="panel">
                <div class="user-heading round">
                    <a href="#">
                        <img th:src="${UserProfile.image}" alt>
                    </a>
                    <h1 th:text="${UserProfile.fullName}">---</h1>
                    <!--                    <p><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="791d1c001d1c00390d111c3c14181015571a1614">[email&#160;protected]</a></p>-->
                </div>
                <ul class="nav nav-pills nav-
                stacked" style="font-size: 1.4rem">
                    <li class="active"><a href="#" > <i class="fa fa-user"></i>Tổng quan</a></li>
                    <!--                    <li><a href="#"> <i class="fa fa-calendar"></i> Recent Activity <span class="label label-warning pull-right r-activity">9</span></a></li>-->
                    <li><a href="/profile-edit"> <i class="fa fa-edit"></i>Chỉnh sửa thông tin</a></li>
                    <li><a href="/favorite"> <i class="fa fa-heart"></i>Sản phẩm yêu thích</a></li>
                    <li><a href="/listorder"> <i class="fa fa-cart-arrow-down"></i>Đơn hàng</a></li>
                    <li><a href="/change-pass"> <i class="fa fa-unlock-alt" aria-hidden="true"></i>Đổi mật khẩu</a></li>
                    <li><a href="auth/logoff"> <i class="fa fa-sign-out" aria-hidden="true"></i>Đăng xuất</a></li>
                </ul>
            </div>
        </div>
        <div class="profile-info col-md-9">

            <div class="panel">
                <div class="panel-body bio-graph-info">
                    <h1>Thông tin</h1>
                    <div class="row">
                        <div class="bio-row">
                            <p><span>Họ và tên</span> : <span th:text="${UserProfile.fullName}"></span></p>
                        </div>
                        <div class="bio-row">
                            <p><span>Ngày sinh </span> : <span th:text="${#temporals.format(UserProfile.birthday, 'dd-MM-yyyy')}"></span></p>
                        </div>
                        <div class="bio-row">
                            <p><span>Email </span> : <span th:text="${UserProfile.email}"></span></p>
                        </div>
                        <div class="bio-row">
                            <p><span>Số điện thoại</span>: <span th:text="${UserProfile.phone}"></span></p>
                        </div>
                        <div class="bio-row">
                            <p><span>Sử dụng từ </span>: <span th:text="${#temporals.format(UserProfile.createdDate, 'dd-MM-yyyy')}"></span></p>
                        </div>
                        <div class="bio-row">
                            <p><span>Địa chỉ </span>: <span th:text="${UserProfile.address}"></span></p>
                        </div>
                        <!--                        <div class="bio-row">-->
                        <!--                            <p><span>Mobile </span>: (12) 03 4567890</p>-->
                        <!--                        </div>-->
                        <!--                        <div class="bio-row">-->
                        <!--                            <p><span>Phone </span>: 88 (02) 123456</p>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="bio-chart">
                                    <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="35" data-fgcolor="#e06b7d" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(224, 107, 125); padding: 0px; -webkit-appearance: none; background: none;"></div>
                                </div>
                                <div class="bio-desk">
                                    <h4 class="red">Tổng lượt đã mua</h4>
                                    <p>Năm này : 15 </p>
                                    <p>Tháng này : 15 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="bio-chart">
                                    <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="63" data-fgcolor="#4CC5CD" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(76, 197, 205); padding: 0px; -webkit-appearance: none; background: none;"></div>
                                </div>
                                <div class="bio-desk">
                                    <h4 class="terques">Sản phẩm đã thích </h4>
                                    <p>Năm này : 15 </p>
                                    <p>Tháng này : 15 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                    <div class="col-md-6">-->
                    <!--                        <div class="panel">-->
                    <!--                            <div class="panel-body">-->
                    <!--                                <div class="bio-chart">-->
                    <!--                                    <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="75" data-fgcolor="#96be4b" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(150, 190, 75); padding: 0px; -webkit-appearance: none; background: none;"></div>-->
                    <!--                                </div>-->
                    <!--                                <div class="bio-desk">-->
                    <!--                                    <h4 class="green">VectorLab Portfolio</h4>-->
                    <!--                                    <p>Started : 15 July</p>-->
                    <!--                                    <p>Deadline : 15 August</p>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="col-md-6">-->
                    <!--                        <div class="panel">-->
                    <!--                            <div class="panel-body">-->
                    <!--                                <div class="bio-chart">-->
                    <!--                                    <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="50" data-fgcolor="#cba4db" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(203, 164, 219); padding: 0px; -webkit-appearance: none; background: none;"></div>-->
                    <!--                                </div>-->
                    <!--                                <div class="bio-desk">-->
                    <!--                                    <h4 class="purple">Adobe Muse Template</h4>-->
                    <!--                                    <p>Started : 15 July</p>-->
                    <!--                                    <p>Deadline : 15 August</p>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<script src="static/asset/user/js/bootstrap.min.js"></script>
<script type="text/javascript">

</script>

<!-- //customers-6-->
<script>
    window.addEventListener('scroll', function() {
        const navbar = document.querySelector('.navbar');
        const scrollY = window.scrollY;

        // Set a threshold value for when to switch the class
        const threshold = 100; // You can adjust this value

        if (scrollY > threshold) {
            navbar.classList.add('navbar-scrolled');
        } else {
            navbar.classList.remove('navbar-scrolled');
        }
    });
</script>
<script>
    // Kích hoạt dropdown menu khi hover
    document.addEventListener("DOMContentLoaded", function () {
        let dropdownMenuList = document.querySelectorAll('.dropdown');
        dropdownMenuList.forEach(function (dropdownMenu) {
            dropdownMenu.addEventListener('mouseenter', function () {
                dropdownMenu.querySelector('.dropdown-menu').classList.add('show');
            });

            dropdownMenu.addEventListener('mouseleave', function () {
                dropdownMenu.querySelector('.dropdown-menu').classList.remove('show');
            });
        });
    });
</script>
</body>
</html>