<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/users/layout_user :: content(~{::body},~{::title})}">

<head>

    <title>FSHOP || Thông tin cá nhân</title>

</head>

<body ng-controller="profile-ctrl">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="static/asset/user/css/profile/bootstrap.min.css" rel="stylesheet">
<link href="static/asset/user/css/profile/profile.css" rel="stylesheet">
<style>
    .input-group>.form-control:not(:last-child), .input-group>.custom-select:not(:last-child){
        font-size: 1em;
    }
</style>
<link rel="stylesheet" href="/asset/user/css/style-liberty.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey profile-main">
    <div class="row">
        <div class="profile-nav col-md-3">
            <div class="panel">
                <div class="user-heading round">
                    <a href="">
                        <img th:src="${UserProfile.image}"  alt="" id="userImage">
                    </a>
                    <h1 th:text="${UserProfile.fullName}">---</h1>
                    <!--                    <p><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="791d1c001d1c00390d111c3c14181015571a1614">[email&#160;protected]</a></p>-->
                </div>
                <ul class="nav nav-pills nav-
                stacked" style="font-size: 1.4rem">
                    <li ><a href="/profile" > <i class="fa fa-user"></i>Tổng quan</a></li>
                    <!--                    <li><a href="#"> <i class="fa fa-calendar"></i> Recent Activity <span class="label label-warning pull-right r-activity">9</span></a></li>-->
                    <li class="active"><a href="/profile-edit"> <i class="fa fa-edit"></i>Chỉnh sửa thông tin</a></li>
                    <li><a href="/favorite"> <i class="fa fa-heart"></i>Sản phẩm yêu thích</a></li>
                    <li><a href="/listorder"> <i class="fa fa-cart-arrow-down"></i>Đơn hàng</a></li>
                    <li><a href="/change-pass"> <i class="fa fa-unlock-alt" aria-hidden="true"></i>Đổi mật khẩu</a></li>
                    <li><a href="auth/logoff"> <i class="fa fa-sign-out" aria-hidden="true"></i>Đăng xuất</a></li>
                </ul>
            </div>
        </div>
        <div class="profile-info col-md-9">

            <div class="panel">
                <div class="panel-body bio-graph-info">
                    <h1>Thông tin</h1>
                    <form th:object="${UserProfile}" method="post">
                        <div class="row">
                            <div class="bio-row">
                                <div class="input-group">
                                    <span class="input-group-text" style="font-size: 1.4em;">Họ và tên</span>
                                    <input type="text" aria-label="First name" class="form-control" style="font-size: 1.4em;" th:field="*{fullName}">
                                </div>
                            </div>
                            <div class="bio-row">
                                <div class="input-group">
                                    <span class="input-group-text" style="font-size: 1.4em;">Ngày sinh</span>
                                    <input type="date" aria-label="First name" class="form-control" style="font-size: 1.4em;" th:field="*{birthday}" id="birthday">
                                </div>
                            </div>
                            <div class="bio-row">
                                <div class="input-group">
                                    <span class="input-group-text" style="font-size: 1.4em;">Email</span>
                                    <input type="text" aria-label="First name" class="form-control" style="font-size: 1.4em;" th:field="*{email}" readonly>
                                </div>
                            </div>
                            <div class="bio-row">
                                <div class="input-group">
                                    <span class="input-group-text" style="font-size: 1.4em;">Số điện thoại</span>
                                    <input type="number" aria-label="First name" class="form-control" style="font-size: 1.4em;" th:field="*{phone}">
                                </div>
                            </div>
                            <div class="bio-row">
                                <div class="input-group">
                                    <span class="input-group-text" style="font-size: 1.4em;">Ngày tạo</span>
                                    <input type="text" aria-label="First name" class="form-control" style="font-size: 1.4em;" th:field="*{createdDate}" readonly>
                                </div>
                            </div>
                            <div class="bio-row">
                                <div class="input-group">
                                    <span class="input-group-text" style="font-size: 1.4em;">Địa chỉ</span>
                                    <input type="text" aria-label="First name" class="form-control" style="font-size: 1.4em;" th:field="*{address}">
                                </div>
                            </div>
                            <div class="bio-row">
                                <div class="input-group">
                                    <span class="input-group-text" style="font-size: 1.4em;">Hình ảnh</span>
                                    <input type="file" id="photo" accept="image/jpeg, image/png, image/gif, image/tiff" aria-label="First name" class="form-control" style="font-size: 1.4em;" name="ImageFile" onchange="previewImage(event)">
                                </div>
                            </div>
                            <div class="bio-row">
                                <button type="submit" class="btn btn-primary" style="font-size: 1.5em;" ng-click="uploadImage()">Cập nhật</button>
                            </div>

                            <!--                        <div class="bio-row">-->
                            <!--                            <p><span>Mobile </span>: (12) 03 4567890</p>-->
                            <!--                        </div>-->
                            <!--                        <div class="bio-row">-->
                            <!--                            <p><span>Phone </span>: 88 (02) 123456</p>-->
                            <!--                        </div>-->
                        </div>
                        <br>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="static/asset/user/js/bootstrap.min.js"></script>
<script type="text/javascript">

</script>

<!-- //customers-6-->
<script>
    window.addEventListener('scroll', function () {
        const navbar = document.querySelector('.navbar');
        const scrollY = window.scrollY;

        // Set a threshold value for when to switch the class
        const threshold = 100; // You can adjust this value

        if (scrollY > threshold) {
            navbar.classList.add('navbar-scrolled');
        } else {
            navbar.classList.remove('navbar-scrolled');
        }
    });
</script>
<script>
    // Kích hoạt dropdown menu khi hover
    document.addEventListener("DOMContentLoaded", function () {
        let dropdownMenuList = document.querySelectorAll('.dropdown');
        dropdownMenuList.forEach(function (dropdownMenu) {
            dropdownMenu.addEventListener('mouseenter', function () {
                dropdownMenu.querySelector('.dropdown-menu').classList.add('show');
            });

            dropdownMenu.addEventListener('mouseleave', function () {
                dropdownMenu.querySelector('.dropdown-menu').classList.remove('show');
            });
        });
    });
</script>
<script>
    // Lấy thẻ input có id là 'birthday'
    var input = document.getElementById('birthday');

    // Thêm sự kiện focus để thay đổi giá trị tối thiểu
    input.addEventListener('focus', function() {
        // Tính ngày 12 năm trước từ ngày hiện tại
        var currentDate = new Date();
        currentDate.setFullYear(currentDate.getFullYear() - 12);

        // Định dạng ngày tháng thành chuỗi 'yyyy-MM-dd'
        var formattedDate = currentDate.toISOString().split('T')[0];

        // Đặt giá trị tối thiểu cho trường input kiểu date
        input.setAttribute('max', formattedDate);
    });

</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var inputGroup = document.querySelector('.input-group'); // Lấy phần tử có class là 'input-group'

        if (inputGroup) { // Kiểm tra xem phần tử đã tồn tại không trước khi thực hiện thay đổi
            inputGroup.style.width = '350px'; // Thay đổi chiều rộng
            inputGroup.style.fontSize = '1.5em'; // Thêm thuộc tính font-size
        }
    });
</script>
<script>
    function previewImage(event) {
        const input = event.target;
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const imageSrc = e.target.result;
                document.getElementById('userImage').src = imageSrc;
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
</body>
</html>