<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/users/layout_user :: content(~{::body},~{::title})}">

<head>

<title>SUS || CHI TIẾT</title>

</head>

<body ng-controller="favorite-ctrl">

	<div class="right-sidebar-panel-content animated fadeInRight"
		tabindex="5003" style="overflow: hidden; outline: none;"></div>
	<section th:object="${productitem}" class="w3l-ecommerce-main-inn">
		<!--/ecommerce-single-->
		<div class="ecomrhny-content-inf py-5">
			<div class="container py-lg-5">
				<!--/row1-->
				<!-- NG-APP CART -->
				<div ng-controller="cart-ctrl" class="sp-store-single-page row">
					<div class="col-lg-5 single-right-left">
						<div class="flexslider1">

							<ul class="slides">
								<th:block th:each="image, iterStat : ${productImages}">
									<li th:attr="data-thumb=${image.imagePath}"
										th:if="${iterStat.count} &lt;= 4">
										<div class="thumb-image">
											<img th:src="@{${image.imagePath}}" data-imagezoom="true"
												class="img-fluid" alt=" ">
										</div>
									</li>
								</th:block>
							</ul>


							<div class="clearfix"></div>
						</div>
						<div class="eco-buttons mt-5">

							<div class="transmitv single-item">
								<form action="#" method="post">
									<button type="submit"
										th:attr="ng-click=@{|addToCart(${productitem.productID},size,color,qty)|}"
										class="transmitv-cart ptransmitv-cart add-to-cart read-2">
										Thêm vào giỏ</button>
								</form>
							</div>
							<div class="buyhny-now">
								<a href="#buy" class="action btn">Mua ngay </a>
							</div>

						</div>
					</div>
					<div class="col-lg-7 single-right-left pl-lg-4">
						<h3 th:text="${productitem.productName}"></h3>
						<div class="caption">
							<ul class="rating-single">
								<li ng-repeat="star in starList">
									<span class="{{ star }}"></span>
								</li>
								<li>{{ averageRating }}/5<span class="fa fa-star yellow-star"
									aria-hidden="true"></span>
								</li>
							</ul>
							<p>{{ numRatings }} đánh giá</p>

							<h6>
								<span class="item_price"
									th:text="${#numbers.formatDecimal(productitem.price, 0, 'COMMA', 0 , 'POINT')} + ' ₫'"></span>

							</h6>
						</div>
						<div class="desc_single my-4">
							<span class="col-md-3 size1">Size</span>
							<div class="col-md-9">
								<select ng-model="size" class="form-control">
									<option value="" disabled selected>Vui lòng chọn size</option>
									<option th:each="s: ${sizs}" th:value="${s.sizeID}"
										th:text="${s.sizeNumber}"></option>
								</select>
							</div>
						</div>
						<div class="desc_single my-4">
							<span class="col-md-3 size1">Màu sắc</span>
							<div class="col-md-9">
								<select ng-model="color" class="form-control">
									<option value="" disabled selected>Vui lòng chọn màu
										sắc</option>
									<option th:each="s: ${cols}" th:value="${s.colorID}"
										th:text="${s.colorName}"></option>
								</select>
							</div>
						</div>
						<div class="desc_single my-4">
							<span class="col-md-3 size1">Số lượng</span>
							<div class="col-md-9">
								<input ng-value="1" ng-model="qty" type="number"
									class="form-control">
							</div>
						</div>
						<div class="desc_single mb-4">
							<h5>Mô tả:</h5>
							<p th:text="${productitem.description}"></p>
						</div>

						<div class="description mb-4">
							<h5>Điền mã giảm giá để được hưởng ưu đãi</h5>
							<form action="#" class="d-flex" method="post">
								<input type="text" placeholder="Mã giảm giá" required>
								<button class="submit btn" type="submit">OK</button>
							</form>
						</div>

					</div>
				</div>
			</div>
			<!--//row1-->
		</div>
		<!--//ecommerce-single-->
	</section>
	<section class="w3l-ecommerce-main w3l-ecommerce-main-inn">
		<!-- /content-6-section -->
		<div class="content-singlev-ecomm py-5">
			<div class="container py-lg-5">
				<div class="two-products-single row">
					<div class="col-md-6 pro-grid-left">
						<div class="pro-grid-one">
							<div class="product-des-hny">
								<h4 class="text-wthree">
									WOMEN'S FASHION <br>50% OFF
								</h4>
								<a href="#" class="read-more-btn2 btn"> Shop Now </a>
							</div>
						</div>
					</div>

					<div class="col-md-6 pro-grid-right">
						<div class="pro-grid-one pro-grid-two">
							<div class="product-des-hny">
								<h4 class="text-wthree">
									MEN'S FASHION <br>60% OFF
								</h4>
								<a href="#" class="read-more-btn2 btn"> Shop Now </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //content-6-section -->
	<section class="w3l-ecommerce-main">
		<!-- /products-->
		<div class="ecom-contenthny py-5">
			<div class="container py-lg-5">
				<div style="margin: 8px auto; display: block; text-align: center;">

					<!---728x90--->


				</div>
				<h3 class="hny-title mb-0 text-center">
					SẢN PHẨM <span>TƯƠNG TỰ</span>
				</h3>
				<p class="text-center">Có thể sẽ phù hợp với bạn</p>
				<div style="margin: 8px auto; display: block; text-align: center;">

					<!---728x90--->

				</div>
				<!-- /row-->
				<div class="ecom-products-grids row mt-lg-5 mt-3">
					<div th:each="p: ${similarProducts}"
						class="col-lg-3 col-6 product-incfhny mt-4">
						<div class="product-grid2 transmitv">
							<div class="product-image2">
								<a th:href="@{|/single_product/${p.productID}|}"> <img
									th:if="${not #lists.isEmpty(p.productImages)}"
									class="pic-1 img-fluid"
									th:src="@{|${p.productImages[0].imagePath}|}"> <img
									th:if="${not #lists.isEmpty(p.productImages)}"
									class="pic-2 img-fluid"
									th:src="@{|${p.productImages[0].imagePath}|}">
								</a>
								<ul class="social">
									<li><a th:attr="ng-click=@{|check(${p.productID})|}">
											<span class="fa fa-heart" aria-hidden="true"></span>
									</a></li>
								</ul>
								<div class="transmitv single-item">
									<a th:href="@{|/single_product/${p.productID}|}" type="submit"
										class="transmitv-cart ptransmitv-cart add-to-cart"> Xem
										chi tiết </a>
								</div>
							</div>
							<div class="product-content">
								<h3 class="title" th:text="${p.productName}">
									<a th:href="@{|/single_product/${p.productID}|}"></a>
								</h3>
								<span class="price"
									th:text="${#numbers.formatDecimal(p.price, 0, 'COMMA', 0 , 'POINT')} + ' ₫'"></span>
							</div>
						</div>
					</div>
				</div>

				<!-- //row-->
			</div>
		</div>
	</section>
	<!-- //products-->

	<!--review-->
	<section class="w3l-ecommerce-main w3l-ecommerce-main-inn">
		<!-- /content-6-section -->
		<div class="container content-singlev-ecomm py-5">
			<h4>ĐÁNH GIÁ SẢN PHẨM</h4>
			<div class="content-singlev-ecomm py-5 bg-white">
				<div class="row wrapper-rating">
					<div class="col-sm-3 text-center">
						<h2>
							{{averageRating}}/5<span class="text-warning">★</span>
						</h2>
					</div>
					<div class="col-sm-8">
						<p class="d-inline-flex gap-1">
						<div class="btn mx-2 btn-outline-warning"
							style="background-color: white; color: #ff7315;">Tất cả ({{ reviewCounts.total }})</div>
						<a class="btn mx-2 btn-outline-warning"
							style="background-color: white; color: #ff7315;">5 sao ({{ reviewCounts[5] }})</a>
						<a class="btn mx-2 btn-outline-warning"
							style="background-color: white; color: #ff7315;">4 sao ({{ reviewCounts[4] }})</a>
						<a class="btn mx-2 btn-outline-warning"
							style="background-color: white; color: #ff7315;">3 sao ({{ reviewCounts[3] }})</a>
						<a class="btn mx-2 btn-outline-warning"
							style="background-color: white; color: #ff7315;">2 sao ({{ reviewCounts[2] }})</a>
						<a class="btn mx-2 btn-outline-warning"
							style="background-color: white; color: #ff7315;">1 sao ({{ reviewCounts[1] }})</a>
						</p>
					</div>
				</div>
			</div>
			<div class="content-singlev-ecomm py-3" ng-repeat="rv in allreviews">
				<div class="row">
					<div class="col-sm-2 text-center">
						<img src="link_to_user_image.jpg" alt="Hình"
							class="img-fluid rounded-circle">
					</div>
					<div class="col-sm-10">
						<p class="mb-0">
							<strong>{{rv.user.fullName}}</strong>
						</p>
						<p class="mb-0">{{rv.reviewDate | date:'dd-MM-yyyy'}}</p>
						<div class="rating mb-2">
							<span class="fa fa-star" ng-repeat="star in getStars(rv.rating)"></span>
						</div>
						<p class="mb-0" style="word-wrap: break-word;">{{rv.title}}</p>
						<span class="fa fa-thumbs-up"></span>
					</div>
				</div>
				<hr>
			</div>
			<div class="pagination text-center">
				<ul>
					<li class="prev"><a href="#page-number"><span
							class="fa fa-angle-double-left"></span></a></li>
					<li><a href="#page-number" class="active">1</a></li>
					<li><a href="#page-number">2</a></li>
					<li><a href="#page-number">3</a></li>

					<li class="next"><a href="#page-number"><span
							class="fa fa-angle-double-right"></span></a></li>
				</ul>
			</div>
		</div>
		</div>
	</section>
	<!--review-->

	<div style="margin: 8px auto; display: block; text-align: center;">

		<!---728x90--->

	</div>
</body>

</html>