<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/users/layout_user :: content(~{::body},~{::title})}">

<head>

    <title>FSHOP || VOUCHER</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body ng-controller="voucher-ctrl">
    <link rel="stylesheet" href="/asset/user/css/voucher/voucher.css">

    <!-- Modal -->
    <div class="modal fade" id="voucherModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="voucherModalBody">
                    <!-- Nội dung chi tiết voucher ở đây -->
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div> -->
            </div>
        </div>
    </div>


    <section class="w3l-ecommerce-main-inn">
        <!--/mag-content-->
        <div class="ecomrhny-content-inf py-5">
            <div class="container py-lg-5">
                <!--/row1-->
                <div class="ecommerce-right-hny">

                    <h2>DANH SÁCH VOUCHER</h2>
                    <div ng-show="voucher.length == 0"
                        style="text-align: center; justify-content: center; margin: 10px;">
                        <i class="fas fa-gift" style="font-size: 100px; color:  #ff7315;"></i>
                        <p>Hiện tại chưa có voucher nào</p>
                        <a href="/list_products" class="btn" style="background-color: #ff7315; color: white;"><i
                                class="fas fa-shopping-cart" style="margin-right: 10px;"></i>Tiếp tục mua sắm</a>
                    </div>
                    <div ng-show="voucher">
                        <!-- Hiển thị danh sách voucher -->
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4" ng-repeat="item in pager.voucher" style="margin-bottom: 20px;">
                                    <div class="card boxvou">
                                        <div class="row">
                                            <div class="col-md-4"
                                                style="background-color:  #ff7315; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                                <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                                    <text x="36" y="70" font-size="35" fill="white">%</text>
                                                </svg>
                                                <div style="margin-bottom: 30px;">
                                                    <div class="gg">Giảm giá</div>
                                                    <div class="sus">FOURSHOE</div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <div>Giảm: {{item.discountAmount}}%</div>
                                                    <div>Đơn tối thiểu: </div>
                                                    <div>{{formatToVND(item.total)}}</div>
                                                    <div>Giảm tối đa: {{formatToVND(item.miniOrder)}}</div>
                                                    <div style="font-size: 11px; color: red;">Áp dụng:
                                                        {{item.formattedStartDate}} - {{item.formattedEndDate}}</div>
                                                    <div class="but">
                                                        <!-- Nút chưa lưu -->
                                                        <button class="custom-button"
                                                            ng-click="saveVoucher(item)" ng-show="!item.saved">
                                                            <span>Lưu mã</span>
                                                        </button>

                                                        <!-- Nút đã lưu -->
                                                        <button class="custom-button-saved saved-button" ng-show="item.saved">
                                                            <span>Đã lưu</span>
                                                        </button>
                                                        <button class="cus-button" data-toggle="modal"
                                                            data-target="#voucherModal"
                                                            ng-click="openModal(item.voucherId)">
                                                            <span>Chi tiết</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Add more rows as needed -->
                        </div>
                        <!--/pagination-->
						<div class="pagination" style="margin: 0px 10px 20px;">
							<ul>
								<li class="prev"><a ng-click="pager.first()"><span
										class="fa fa-angle-double-left"></span></a></li>
								<li class="page-item" ng-repeat="page in voucherPage"
									ng-class="{ 'active': (page.value === pager.page + 1) }"><a
									class="page-link" href="" ng-click="pager.goto(page.value)"
									ng-style="page.value === (pager.page + 1) ? { 'background': 'orangered', 'border-color': 'orangered' } : {}">
										{{ page.value }} </a></li>


								<li class="next"><a ng-click="pager.last()"><span
										class="fa fa-angle-double-right"></span></a></li>
							</ul>
						</div>
						<!--//pagination-->
                    </div>
                </div>
            </div>
        </div>
        <!--//mag-content-->
    </section>
</body>

</html>