<div class="content-wrapper">
	<div class="card"
		style="box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;">
		<div class="card-body">
            <h4 class="mb-2">Danh sách đánh giá</h4>
			<div class="d-flex justify-content-between align-items-center">
				

				<div class="d-flex">
					<!-- Thẻ select box -->
					<div class="col-sm-3">
                        <label for="productName" style="font-size: 15px">Tên sản phẩm:</label>
                        <select class="form-control mr-1" ng-model="productId" id="productName"
                            style="width: 200px; margin-bottom: 10px">
                            <option value="">Tất cả</option>
                            <option ng-repeat="product in prods" value="{{product.productID}}">{{product.productName}}</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label for="userId">Người dùng:</label>
                        <select class="form-control mr-1" ng-model="usersId" id="userId"
                        style="width: 200px; margin-bottom: 10px">
                            <option value="">Tất cả</option>
                            <option ng-repeat="user in users" value="{{user.usersId}}">{{user.fullName}}</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label for="rating">Sao đánh giá:</label>
                        <select class="form-control mr-1" ng-model="rating" id="rating">
                            <option value="">Tất cả</option>
                            <option value="1">1 sao</option>
                            <option value="2">2 sao</option>
                            <option value="3">3 sao</option>
                            <option value="4">4 sao</option>
                            <option value="5">5 sao</option>
                        </select>
                    </div>
                    <div class="col-sm-5 template-demo text-right mt-3"  >
                        <button ng-click="searchReviews()" class="btn btn-primary">Tìm kiếm</button>
                        <button ng-click="reset()" class="btn btn-primary">Đặt lại</button>
						<button type="button"
						class="btn btn-outline-success btn-fw mr-2 export"
						data-toggle="tooltip" title="Xuất file Excel">
						<span class="fa ti-file"></span>
						</button>
						<button type="button"
							class="btn btn-outline-danger btn-fw mr-2 pdf-file"
							data-toggle="tooltip" title="Xuất file PDF">
							<span class="ti-files"></span>
						</button>
                    </div>					
				</div>
			</div>

			<table class="table table-hover" id="sampleTable">
				<thead>
					<tr>
						<th ng-repeat="column in sortableColumns"
							ng-click="sortByColumn(column.name)">{{ column.label }} <span
							ng-if="sortColumn === column.name"> <span
								ng-if="sortReverse" class="mdi mdi-long-arrow-down"></span> <span
								ng-if="!sortReverse" class="mdi mdi-long-arrow-up"></span>
						</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="reviewitem in pager.reviewitems">
                        <td>{{reviewitem.reviewId}}</td>
                        <td style="overflow: hidden; max-width: 100px;">
							{{reviewitem.product.productName}}
						</td>
                        <td>{{reviewitem.user.fullName}}</td>
                        <td style="word-wrap: break-word; white-space: normal; max-width: 200px;">
							{{reviewitem.title}}
						</td>
                        <td>
                            <div class="star-rating">
                                <span class="fa fa-star" ng-class="{'checked': i <= reviewitem.rating }"
                                    ng-repeat="i in [1, 2, 3, 4, 5]"></span>
                            </div>
                        </td>
                        <td>{{reviewitem.reviewDate | date:'dd-MM-yyyy'}}</td>
						<td>
							<div ng-if="reviewitem.image1">
								<img src="{{reviewitem.image1}}">
							</div>	
							<div ng-if="!reviewitem.image1">
								<p>Trống</p>
							</div>							
						</td>
						<td>
							<div ng-if="reviewitem.image2">
								<img src="{{reviewitem.image2}}">
							</div>
							<div ng-if="!reviewitem.image2">
								<p>Trống</p>
							</div>
						</td>
						<td>
							<div ng-if="reviewitem.image3">
								<img src="{{reviewitem.image3}}">
							</div>
							<div ng-if="!reviewitem.image3">
								<p>Trống</p>
							</div>
						</td>
                    </tr>
				</tbody>
			</table>
			<div class="d-flex justify-content-end">
				<div>
					<ul class="pagination">
						<li class="page-item">
							<button ng-click="pager.first()" class="page-link">
								<span class="ti-angle-double-left"></span>
							</button>
						</li>

						<li class="page-item" ng-repeat="page in visiblePages"
							ng-class="{ 'active': (page.value === pager.page + 1) }"><a
							class="page-link" href="" ng-click="pager.goto(page.value)">{{
								page.value }}</a></li>

						<li class="page-item">
							<button ng-click="pager.last()" class="page-link">
								<span class="ti-angle-double-right"></span>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

