<div class="content-wrapper">
	<div class="card"
		style="box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;">
		<div class="card-body">
            <h4 class="mb-2">Danh sách đánh giá</h4>
			<div class="d-flex justify-content-between align-items-center">
				

				<div class="d-flex">
					<!-- Thẻ select box -->
					<div class="col-sm-4">
                        <label for="productName" style="font-size: 15px">Tên sản phẩm:</label>
                        <select class="form-control mr-1 select2" ng-model="productId" id="productName" ng-change="filterByProduct()"
                            style="width: 200px; margin-bottom: 10px">
                            <option value="">Chọn sản phẩm</option>
                            <option ng-repeat="product in prods" value="{{product.productID}}">{{product.productName}}</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label for="userId">Người dùng:</label>
                        <select class="form-control mr-1" ng-model="usersId" id="userId" ng-change="filterByUser()"
                        style="width: 200px; margin-bottom: 10px">
                            <option value="">Chọn người dùng</option>
                            <option ng-repeat="user in users" value="{{user.usersId}}">{{user.fullName}}</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label for="rating">Sao đánh giá:</label>
                        <select class="form-control mr-1" ng-model="rating" id="rating" ng-change="filterByStar()">
                            <option value="">Chọn sao</option>
                            <option value="1">1 sao</option>
                            <option value="2">2 sao</option>
                            <option value="3">3 sao</option>
                            <option value="4">4 sao</option>
                            <option value="5">5 sao</option>
                        </select>
                    </div>
					<!-- <div class="col-sm-3">
						<label for="dateFilter">Lọc theo:</label>
						<select class="form-control" ng-model="dateFilter" id="dateFilter"
								ng-change="applyDateFilter()">
							<option value="">Tất cả thời gian</option>	
							<option value="today">Hôm nay</option>
							<option value="thisWeek">Tuần này</option>
							<option value="thisMonth">Tháng này</option>
							<option value="thisYear">Năm nay</option>
						</select>
					</div> -->
                    <div class="col-sm-4 template-demo mt-3"  >
						<button type="button"
						class="btn btn-outline-success btn-fw mr-2 exportExcel"
						data-toggle="tooltip" title="Xuất file Excel">
						<span class="fa fa-file-excel-o" aria-hidden="true"></span>
						</button>
						<button type="button"
							class="btn btn-outline-danger btn-fw mr-2 exportPdf"
							data-toggle="tooltip" title="Xuất file PDF">
							<span class="fa fa-file-pdf-o" aria-hidden="true"></span>
						</button>
                    </div>					
				</div>
			</div>
			<hr>
			<div class="row ml-2 mt-3 mb-3">
				<div class="col-sm-4">
					<p>Số đánh giá: <strong>{{reviewAll}}</strong></p>
					<p>Số sản phẩm: <strong>{{dem}}</strong></p>
				</div>				
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th ng-repeat="column in sortableColumns"
							ng-click="sortByColumn(column.name)">{{ column.label }} <span
							ng-if="sortColumn === column.name"> <span
								ng-if="sortReverse" class="ti-angle-double-down"></span> <span
								ng-if="!sortReverse" class="ti-angle-double-up"></span>
						</span>
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="reviewitem in pager.reviewitems">
                        <td style="color: #26aa99; font-weight: bold; font-size: large; text-align: center;">#{{reviewitem.orderDetail.orderDetailId}}</strong></td>
                        <td style="overflow: hidden; max-width: 100px;">
							{{reviewitem.product.productName}}
						</td>
                        <td>{{reviewitem.user.fullName}}</td>
                        <td>
							<span ng-if="reviewitem.title.length > 20" title="{{reviewitem.title}}">
								{{reviewitem.title | limitTo:20}}{{$last ? '' : '...'}}
							</span>
							<span ng-if="reviewitem.title.length <= 20">{{reviewitem.title}}</span>
						</td>						
                        <td>
                            <div class="star-rating col-sm-12">
                                <span class="fa fa-star" ng-class="{'checked': i <= reviewitem.rating }"
                                    ng-repeat="i in [1, 2, 3, 4, 5]"></span>
                            </div>
                        </td>
                        <td>{{reviewitem.reviewDate | date:'dd-MM-yyyy'}}</td>
						<td>
							<div ng-if="reviewitem.image1">
								<a data-fancybox="gallery-{{reviewitem.reviewId}}" href="{{reviewitem.image1}}">
									<img ng-src="{{reviewitem.image1}}" class="fancybox" style="width: 50px; height: 50px;">
								</a>
							</div>
							<div ng-if="!reviewitem.image1">
								<p>Trống</p>
							</div>
						</td>
						<td>
							<div ng-if="reviewitem.image2">
								<a data-fancybox="gallery-{{reviewitem.reviewId}}" href="{{reviewitem.image2}}">
									<img ng-src="{{reviewitem.image2}}" class="fancybox" style="width: 50px; height: 50px;">
								</a>
							</div>
							<div ng-if="!reviewitem.image2">
								<p>Trống</p>
							</div>
						</td>
						<td>
							<div ng-if="reviewitem.image3">
								<a data-fancybox="gallery-{{reviewitem.reviewId}}" href="{{reviewitem.image3}}">
									<img ng-src="{{reviewitem.image3}}" class="fancybox" style="width: 50px; height: 50px;">
								</a>
							</div>
							<div ng-if="!reviewitem.image3">
								<p>Trống</p>
							</div>
						</td>
						<td>
							<button ng-click="showReview(reviewitem.reviewId)"
                                        class="btn btn-inverse-dark btn-rounded btn-icon" data-toggle="tooltip"
                                        data-placement="top" title="Xem chi tiết đánh giá">
                                        <i class="ti-eye"></i>
                                    </button>
						</td>
                    </tr>
				</tbody>
			</table>
			<div class="d-flex justify-content-end mt-3">
				<div>
					<ul class="pagination">
						<li class="page-item">
							<button ng-click="pager.first()" class="page-link">
								<span class="ti-angle-double-left"></span>
							</button>
						</li>

						<li class="page-item" ng-repeat="page in visiblePages"
							ng-class="{ 'active': (page.value === pager.page + 1) }"><a
							class="page-link" href="" ng-click="pager.goto(page.value)">{{
								page.value }}</a></li>

						<li class="page-item">
							<button ng-click="pager.last()" class="page-link">
								<span class="ti-angle-double-right"></span>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewModalLabel">Chi tiết đánh giá</h5>
            </div>
            <div>
                <div class="modal-body">
                    <div class="row">
						<div class="col-sm-4">
							<h4><strong>Người dùng:</strong></h4>
							<h4>{{reviewdetails.user.fullName}}</h4>
						</div>
						<div class="col-sm-4">
							<h4><strong>Sản phẩm:</strong></h4>
							<h4>{{reviewdetails.product.productName}}</h4>
						</div>
						<div class="col-sm-4">
							<h4><strong>Sao đánh giá:</strong></h4>
							<div class="star-rating">
                                <span class="fa fa-star" ng-class="{'checked': i <= reviewdetails.rating }"
                                    ng-repeat="i in [1, 2, 3, 4, 5]"></span>
                            </div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<h4 class="mb-2"><strong>Nội dung đánh giá:</strong></h4>
							<h4>{{reviewdetails.title}}</h4>
						</div>
					</div>
					<div class="row">
						<h4 class="mb-2 ml-3"><strong>Ảnh sản phẩm từ người dùng:</strong></h4>
						<div class="d-flex col-sm-12">
							<div class="mr-5">
								<div ng-if="reviewdetails.image1">
									<a data-fancybox="rv-{{reviewdetails.reviewId}}" href="{{reviewdetails.image1}}">
										<img ng-src="{{reviewdetails.image1}}" class="fancybox" style="width: 200px; height: 200px;">
									</a>
								</div>
							</div>
							<div class="mr-5">
								<div ng-if="reviewdetails.image2">
									<a data-fancybox="rv-{{reviewdetails.reviewId}}" href="{{reviewdetails.image2}}">
										<img ng-src="{{reviewdetails.image2}}" class="fancybox" style="width: 200px; height: 200px;">
									</a>
								</div>
							</div>
							<div>
								<div ng-if="reviewdetails.image3">
									<a data-fancybox="rv-{{reviewdetails.reviewId}}" href="{{reviewdetails.image3}}">
										<img ng-src="{{reviewdetails.image3}}" class="fancybox" style="width: 200px; height: 200px;">
									</a>
								</div>
							</div>
						</div>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark btn-fw" data-toggle="tooltip" data-dismiss="modal"
                        title="Đóng">Đóng</button>
                </div>
        </div>
    </div>
</div>

