
    <section class="w3l-footer-22">
        <!-- footer-22 -->
        <div class="footer-hny py-5">
            <div class="container py-lg-5">
                <div class="text-txt row">
                    <div class="left-side col-lg-4">
                        <h3><a class="logo-footer" href="index.html">
                                HK<span class="lohny">S</span>tore</a></h3>
                        <!-- if logo is image enable this   
                        <a class="navbar-brand" href="#index.html">
                            <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                        </a> -->
                        <p>- Giấy phép thiết lập mạng xã hội trên mạng số 170/GP-BTTTT do Bộ Thông tin và Truyền
                            thông cấp ngày 04 tháng 04 năm 2023. <br>
                            - Chịu trách nhiệm nội dung: H*********** <br>
                            - Liên hệ truyền thông và quảng cáo: <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; + Số điện
                            thoại: 083*******
                            <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; + Mail:
                            abc@ctu.edu.vn
                        </p>
                        <ul class="social-footerhny mt-lg-5 mt-4">

                            <li><a class="facebook" href="#"><span class="fa fa-facebook"
                                        aria-hidden="true"></span></a>
                            </li>
                            <li><a class="twitter" href="#"><span class="fa fa-twitter"
                                        aria-hidden="true"></span></a>
                            </li>
                            <li><a class="google" href="#"><span class="fa fa-google-plus"
                                        aria-hidden="true"></span></a>
                            </li>
                            <li><a class="instagram" href="#"><span class="fa fa-instagram"
                                        aria-hidden="true"></span></a>
                            </li>
                        </ul>
                    </div>

                    <div class="right-side col-lg-8 pl-lg-5">
                        <h4>Ưu đãi đặc biệt Ngày sinh nhật 3 năm <br> HK Store mua 1 tặng 3. Ngay hôm nay !</h4>
                        <div class="sub-columns">
                            <div class="sub-one-left">
                                <h6>Liên kết hữu ích</h6>
                                <div class="footer-hny-ul">
                                    <ul>
                                        <li><a href="index.html">Trang chủ</a></li>
                                        <li><a href="about.html">Giới thiệu</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="contact.html">Liên hệ</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Công nghệ</a></li>
                                        <li><a href="#">Chính sách bảo mật</a></li>
                                        <li><a href="#">Các điều khoản </a></li>
                                        <li><a href="contact.html">Hỗ trợ</a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="sub-two-right">
                                <h6>Cửa hàng của chúng tôi</h6>
                                <p class="mb-5">288 Đ. Nguyễn Văn Linh, Phường An Khánh, Ninh Kiều, Cần Thơ 900000
                                </p>

                                <h6>Chúng tôi chấp nhận:</h6>
                                <ul>
                                    <li><a class="pay-method" href="#"><span class="fa fa-cc-visa"
                                                aria-hidden="true"></span></a>
                                    </li>
                                    <li><a class="pay-method" href="#"><span class="fa fa-cc-mastercard"
                                                aria-hidden="true"></span></a>
                                    </li>
                                    <li><a class="pay-method" href="#"><span class="fa fa-cc-paypal"
                                                aria-hidden="true"></span></a>
                                    </li>
                                    <li><a class="pay-method" href="#"><span class="fa fa-cc-amex"
                                                aria-hidden="true"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="below-section row">
                    <div class="columns col-lg-6">
                        <ul class="jst-link">
                            <li><a href="#">Chính sách bảo mật </a> </li>
                            <li><a href="#">Thời hạn của dịch vụ</a></li>
                            <li><a href="contact.html">Chăm sóc khách hàng</a> </li>
                        </ul>
                    </div>
                    <div class="columns col-lg-6 text-lg-right">
                        <p>© Copyright 2023 HK Store, All rights reserved
                            <!-- <a href="https://w3layouts.com/"
                        target="_blank">
                        W3Layouts</a> -->
                        </p>
                    </div>
                    <button onclick="topFunction()" id="movetop" title="Go to top">
                        <span class="fa fa-angle-double-up"></span>
                    </button>
                </div>
            </div>
        </div>
        <!-- //titels-5 -->    
    </section>
