<!--/nav-->
<section class="w3l-banner-slider-main">
				<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container-fluid serarc-fluid">
						<a  href="index.html">
							<img src="/asset/user/img/banner/logo3.png"  style=" display: block;
							margin: auto;" width="60%" alt=""></a>

						<div class="search-right">

							<a href="#search" title="search"><span class="fa fa-search mr-2" aria-hidden="true"></span>
								<span class="search-text">Tìm kiếm</span></a>
							<!-- search popup -->
							<div id="search" class="pop-overlay">
								<div class="popup">

									<form action="#" method="post" class="search-box">
										<input type="search" placeholder="Nhập" name="search" required="required"
											autofocus="">
										<button type="submit" class="btn">Tìm kiếm</button>
									</form>

								</div>
								<a class="close" href="#">×</a>
							</div>
							<!-- /search popup -->
						</div>
						<!--//search-right-->
						<button class="navbar-toggler" type="button" data-toggle="collapse"
							data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon fa fa-bars"> </span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item active">
									<a class="nav-link" href="/index">Trang chủ</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/about">Giới thiệu</a>
								</li>
								<li class="nav-item ">
									<a class="nav-link" href="/list_products">Sản phẩm</a>
								</li>
								<li class="nav-item ">
									<a class="nav-link" href="/blog">Blog</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/contact">Contact</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/favorite">
										Favorite
									</a>
								</li>
								<li class="transmitvcart galssescart2 cart cart box_1">
                                    <form action="#" method="post" class="last">
                                       
                                        <button class="top_transmitv_cart mr-2" type="submit" name="submit" value="">
											<span class="fa fa-user"></span>
                                        </button>
                                    </form>
                                </li>
								 <li class="transmitvcart galssescart2 cart cart box_1">
                                    <form action="#" method="post" class="last" ng-controller="cart-ctrl">
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="display" value="1">
                                        <button class="top_transmitv_cart" type="submit" name="submit" value="">
                                            Giỏ hàng
                                            <span class="fa fa-shopping-cart"></span>
											<span class="badge badge-pill badge-dark" id="cartCount"></span>
                                        </button>
                                    </form>
                                </li>
							</ul>

						</div>
					</div>
				</nav>
				<!--//nav--></section>