<div class="card card-border-color card-border-color-primary m-3">
    <div class="modal fade modal-full-color modal-full-color-danger" id="errorModal" tabindex="-1"
        aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close modal-close" type="button" data-dismiss="modal" aria-hidden="true">
                        <span class="mdi mdi-close"></span>
                    </button>
                </div>
                <div class="modal-body" style="color: white;">
                    <div class="text-center">
                        <span class="modal-main-icon mdi mdi-close-circle-o mb-3"></span> <b>
                            <h4 style="color: white;">{{ errorMessage }}</h4>
                        </b>
                        <div class="mt-8">
                            <button class="btn btn-secondary btn-space modal-close" type="button" data-dismiss="modal"
                                style="background-color: white; color: red;">Đóng</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <!-- Modal for displaying error messages -->
    <div class="modal fade modal-full-color modal-full-color-success" id="errorModal1" tabindex="-1"
        aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close modal-close" type="button" data-dismiss="modal" aria-hidden="true">
                        <span class="mdi mdi-close"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <span class="modal-main-icon mdi mdi-check mb-3"></span><b>
                            <h4 style="color: white;">{{ messageSuccess }}</h4>
                        </b>
                        <div class="mt-8">
                            <button class="btn btn-secondary btn-space modal-close" type="button" data-dismiss="modal"
                                style="background-color: white; color: green;">Đóng</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <!-- modal xác nhận -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"
        aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận
                        xóa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">Bạn có chắc chắn muốn xóa phiếu nhập này không?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger" ng-click="confirmDelete()">Xóa</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-header card-header-divider">Quản lý phiếu nhập</div>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="inputUserName">Tên người nhập:</label>
                <input class="form-control" type="text" ng-model="form.user.fullName">
            </div>
            <div class="form-group col-md-6">
                <label>Nhà cung cấp</label>
                <div>
                    <select class="select2 form-control" ng-model="form.supplier.supplierID">
                        <option value="" disabled selected>Vui lòng chọn nhà cung cấp</option>
                        <option ng-repeat="i in importSup" ng-value="i.supplierID">{{i.supplierName}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label for="inputPassword3">Tổng tiền</label>
                <input class="form-control" id="inputPassword3" type="text" placeholder="Tổng tiền" required=""
                    ng-model="form.totalAmount" readonly="true">
            </div>

            <div class="form-group col-md-6">
                <label for="inputPassword4">Ngày nhập</label>
                <div ng-model="form.importDate" class="form-control" id="ngaytao" readonly="true">{{ form.importDate |
                    date:'dd-MM-yyyy HH:mm:ss' }}</div>
            </div>
        </div>

        <div class="row pt-0 pt-sm-5">
            <div class="col-sm-12 pl-0">
                <p class="text-right">
                    <button class="btn btn-space btn btn-success" ng-click="create()" type="submit"><i
                            class="bi bi-file-plus-fill"></i>Thêm</button>
                    <button class="btn btn-space btn btn-primary" ng-click="update()"><i
                            class="bi bi-pencil-square"></i>Sửa</button>
                    <button class="btn btn-space btn btn-danger" ng-click="confirmDeleteModal()" type="submit"><i
                            class="bi bi-trash3-fill"></i>Xóa</button>
                    <button class="btn btn-space btn btn-dark" ng-click="reset()"><i
                            class="bi bi-arrow-clockwise"></i>Làm mới</button>
                </p>
            </div>
        </div>

    </div>
</div>

<div class="card card-table m-3">
    <div class="card-header">Danh sách phiếu nhập
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên người nhập</th>
                    <th>Tên nhà cung cấp</th>
                    <th>Tổng tiền</th>
                    <th>Ngày nhập</th>
                    <th class="actions"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in pager.items">
                    <td>{{$index + 1}}</td>
                    <td>{{item.user.fullName}}</td>
                    <td>{{item.supplier.supplierName}}</td>
                    <td>{{ formatToVND(item.totalAmount) }}</td>
                    <td>{{item.importDate | date : 'dd-MM-yyyy'}}</td>
                    <td class="actions">
                        <button class="btn btn-space btn btn-primary" ng-click="edit(item)">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button class="btn btn-space btn btn-danger" ng-click="confirmDeleteModal1(item)">
                            <i class="bi bi-trash3-fill"></i>
                        </button>
                        <button class="btn btn-space btn btn-success" ng-click="openCreateDetail(item)">
                            <i class="bi bi-brush"></i>
                        </button>
                        
                        <button class="btn btn-space btn btn-dark">
                            <i class="bi bi-eye"></i>
                        </button>
                    </td>
                </tr>
                <!-- them chi tiet phieu nhap  -->
                <div class="modal fade" id="createDetail" tabindex="-1" aria-labelledby="createDetail1"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header modal-header-colored" style="background-color: rgb(76, 186, 76);">
                                <h3 class="modal-title" style="color: white;"><b>Nhập chi tiết phiếu nhập</b></h3>
                                <button class="close md-close" type="button" data-dismiss="modal"
                                    aria-hidden="true"><span class="mdi mdi-close"> </span></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <h4><b>Phieu nhap</b></h4>
                                    <input class="form-control" type="text" ng-model="form.importReceipt.importReceiptId">
                                </div>
                                <div class="form-group">
                                    <h4><b>Sản phẩm</b></h4>
                                    <div>
                                        <select class="select2 form-control" ng-model="form.product.productID">
                                            <option value="" disabled selected>Vui lòng chọn sản phẩm</option>
                                            <option ng-repeat="p in prods" ng-value="p.productID">{{p.productName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h4><b>Số lượng</b></h4>
                                    <input class="form-control" type="text" ng-model="form.quantity">
                                </div>
                                <div class="form-group">
                                    <h4><b>Đơn giá</b></h4>
                                    <input class="form-control" type="text" ng-model="form.price">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary md-close" type="button"
                                    data-dismiss="modal">Hủy</button>
                                <button class="btn btn-primary md-close" style="background-color: rgb(76, 186, 76);" type="button"
                                    data-dismiss="modal">Thêm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tbody>
        </table>
        <div class="card-header d-flex justify-content-end">
            <div>
                <ul class="pagination">
                    <li class="page-item">
                        <button style="font-size: 25px" ng-click="pager.first()" class="page-link">
                            <span class="mdi mdi-skip-previous"></span>
                        </button>
                    </li>

                    <li class="page-item" ng-repeat="page in visiblePages"
                        ng-class="{ 'active': (page.value === pager.page + 1) }"><a class="page-link" href=""
                            ng-click="pager.goto(page.value)">{{
                            page.value }}</a></li>

                    <li class="page-item">
                        <button style="font-size: 25px" ng-click="pager.last()" class="page-link">
                            <span class="mdi mdi-skip-next"></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div style="color: #eee;">123</div>