<div class="content-wrapper">
    <div class="card mb-5"
        style="box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;">
        <!--Form phiếu nhập-->
        <div class="card-body" ng-show="showPhieuNhapForm">
            <h4 class="card-title">Quản lý phiếu nhập</h4>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputUserName">Tên người nhập:</label>
                    <input class="form-control" type="text" ng-model="form.user.fullName" readonly="true">
                </div>
                <div class="form-group col-md-6">
                    <label>Nhà cung cấp</label>
                    <div>
                        <select class="select2 form-control" ng-model="form.supplier.supplierId">
                            <option value="" disabled selected>Vui lòng chọn nhà cung cấp</option>
                            <option ng-repeat="i in importSup" ng-value="i.supplierId">{{i.supplierName}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputPassword3">Tổng tiền</label>
                    <div class="form-control" id="inputPassword3" type="text" placeholder="Tổng tiền" required=""
                        ng-model="form.totalAmount" readonly="true">{{ formatToVND(form.totalAmount) }}</div>
                </div>

                <div class="form-group col-md-6">
                    <label for="inputPassword4">Ngày nhập</label>
                    <div ng-model="form.importDate" class="form-control" id="ngaytao" readonly="true">{{ form.importDate
                        | date:'dd-MM-yyyy HH:mm:ss' }}</div>
                </div>
            </div>
            <div class="template-demo text-right mb-3">
                <button type="button" ng-click="showPhieuNhapForm = false; showChiTietForm = true"
                    class="btn btn-outline-primary btn-fw" data-toggle="tooltip" title="Form chi tiết phiếu nhập">
                    <span class="ti-back-right"></span>
                </button>
                <button type="button" ng-click="create()" class="btn btn-outline-success btn-fw" data-toggle="tooltip"
                    title="Thêm phiếu nhập">
                    <span class="fa fa-plus-circle"></span>
                </button>
                <button type="button" ng-click="reset()" class="btn btn-outline-dark btn-fw" data-toggle="tooltip"
                    title="Làm mới">
                    <span class="fa fa-refresh"></span>
                </button>
            </div>
        </div>

        <!--Form chi tiết phiếu nhập-->
        <div class="card-body" ng-show="showChiTietForm">
            <h4 class="card-title">Quản lý chi tiết phiếu nhập</h4>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Phiếu nhập</label>
                    <div>
                        <select class="select2 form-control" ng-model="formDetal.importReceipt.importReceiptId">
                            <option value="" disabled selected>Vui lòng chọn phiếu nhập</option>
                            <option ng-repeat="p in items" ng-value="p.importReceiptId">{{p.importReceiptId}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label>Sản phẩm</label>
                    <div>
                        <select class="select2 form-control" ng-model="formDetal.productDetail.productDetailID">
                            <option value="" disabled selected>Vui lòng chọn sản phẩm</option>
                            <option ng-repeat="p in prods" ng-value="p.productDetailID">
                                {{p.product.productName}} ({{p.color.colorName}}) ({{p.size.sizeNumber}})
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputPassword3">Số lượng</label>
                    <input class="form-control" id="inputPassword3" type="number" placeholder="Số lượng" required=""
                        ng-model="formDetal.quantity">
                </div>

                <div class="form-group col-md-6">
                    <label for="inputPassword4">Đơn giá</label>
                    <input class="form-control" id="inputPassword4" type="number" placeholder="Đơn giá" required=""
                        ng-model="formDetal.price">
                </div>
            </div>

            <div class="template-demo text-right mb-3">
                <button type="button" ng-click="showPhieuNhapForm = true; showChiTietForm = false"
                    class="btn btn-outline-primary btn-fw" data-toggle="tooltip" title="Form phiếu nhập">
                    <span class="ti-back-left"></span>
                </button>
                <button type="button" ng-click="createDetail()" class="btn btn-outline-success btn-fw"
                    data-toggle="tooltip" title="Thêm chi tiết phiếu nhập">
                    <span class="fa fa-plus-circle"></span>
                </button>
                <button type="button" ng-click="resetDetail()" class="btn btn-outline-dark btn-fw" data-toggle="tooltip"
                    title="Làm mới">
                    <span class="ti-control-shuffle"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="card"
        style="box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;">
        <div class="card-body">
            <div class="card card-table m-3">
                <h4 class="mb-0">Danh sách phiếu nhập</h4>
                <div class="d-flex align-items-center">
                    <div style="width: 100%;">
                        <form method="post" style="margin-left: 20px;">
                            <div class="form-group">
                                <label for="searchKeyword"></label>
                                <input class="form-control" type="text" id="searchKeyword" ng-model="searchKeyword"
                                    placeholder="Tìm kiếm phiếu nhập" ng-change="searchByName()">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th ng-repeat="column in sortableColumns" ng-click="sortByColumn(column.name)">{{
                                    column.label }}
                                    <span ng-if="sortColumn === column.name"> <span ng-if="sortReverse"
                                            class="ti-angle-double-down"></span> <span ng-if="!sortReverse"
                                            class="ti-angle-double-up"></span>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in pager.items">
                                <td>{{item.importReceiptId}}</td>
                                <td>{{item.user.fullName}}</td>
                                <td>{{item.supplier.supplierName}}</td>
                                <td>{{ formatToVND(item.totalAmount) }}</td>
                                <td>{{item.importDate | date : 'dd-MM-yyyy'}}</td>
                                <td class="actions">
                                    <button ng-click="edit(item)" class="btn btn-inverse-primary btn-rounded btn-icon"
                                        data-toggle="tooltip" data-placement="top" title="Chỉnh sửa">
                                        <i class="ti-pencil"></i>
                                    </button>
                                    <button ng-click="loadImportDetail(item.importReceiptId)"
                                        class="btn btn-inverse-dark btn-rounded btn-icon" data-toggle="tooltip"
                                        data-placement="top" title="Xem chi tiết phiếu nhập">
                                        <i class="ti-eye"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end">
                        <div>
                            <ul class="pagination">
                                <li class="page-item">
                                    <button ng-click="pager.first()" class="page-link">
                                        <span class="ti-angle-double-left"></span>
                                    </button>
                                </li>

                                <li class="page-item" ng-repeat="page in visiblePages"
                                    ng-class="{ 'active': (page.value === pager.page + 1) }"><a class="page-link"
                                        href="" ng-click="pager.goto(page.value)">{{
                                        page.value }}</a></li>

                                <li class="page-item">
                                    <button ng-click="pager.last()" class="page-link">
                                        <span class="ti-angle-double-right"></span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal hiển thị chi tiết phiếu nhập -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Chi tiết phiếu nhập</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div ng-show="importDetail.length == 0"
                style="text-align: center; justify-content: center; margin: 10px; height: 300px; margin: 10px;">
                <i class="ti-layout-width-default"
                    style="font-size: 200px; color: grey; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); line-height: 300px;"></i>
            </div>

            <div ng-show="importDetail.length > 0">
                <div class="modal-body">
                    <div ng-if="importDetail.length > 0">
                        <h3 class="text-center">Phiếu nhập {{importDetail[0].importReceipt.importReceiptId}}</h3>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Size</th>
                                <th>Màu sắc</th>
                                <th>Đơn giá</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in importDetail">
                                <td>{{item.productDetail.product.productName}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.productDetail.size.sizeNumber}}</td>
                                <td>{{item.productDetail.color.colorName}}</td>
                                <td>{{formatToVND(item.price)}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <div class="text-right" ng-if="importDetail.length > 0">
                        <h3>Tổng tiền: {{formatToVND(importDetail[0].importReceipt.totalAmount)}}</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success btn-fw mr-2 exportExcel" data-toggle="tooltip"
                        title="Xuất file Excel">
                        <span class="fa fa-file-excel-o" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-outline-danger btn-fw mr-2 exportPdf" data-toggle="tooltip"
                        title="Xuất file PDF">
                        <span class="fa fa-file-pdf-o" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-outline-dark btn-fw" data-toggle="tooltip" data-dismiss="modal"
                        title="Đóng"><span class="ti-close"></span></button>
                </div>
            </div>

        </div>
    </div>
</div>