<div class="card card-border-color card-border-color-primary m-3">
    <div class="modal fade modal-full-color modal-full-color-danger" id="errorModal" tabindex="-1"
        aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close modal-close" type="button" data-dismiss="modal" aria-hidden="true">
                        <span class="mdi mdi-close"></span>
                    </button>
                </div>
                <div class="modal-body" style="color: white;">
                    <div class="text-center">
                        <span class="modal-main-icon mdi mdi-close-circle-o mb-3"></span> <b>
                            <h4 style="color: white;">{{ errorMessage }}</h4>
                        </b>
                        <div class="mt-8">
                            <button class="btn btn-secondary btn-space modal-close" type="button" data-dismiss="modal"
                                style="background-color: white; color: red;">Đóng</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <!-- Modal for displaying error messages -->
    <div class="modal fade modal-full-color modal-full-color-success" id="errorModal1" tabindex="-1"
        aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close modal-close" type="button" data-dismiss="modal" aria-hidden="true">
                        <span class="mdi mdi-close"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <span class="modal-main-icon mdi mdi-check mb-3"></span><b>
                            <h4 style="color: white;">{{ messageSuccess }}</h4>
                        </b>
                        <div class="mt-8">
                            <button class="btn btn-secondary btn-space modal-close" type="button" data-dismiss="modal"
                                style="background-color: white; color: green;">Đóng</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <!-- modal xác nhận -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"
        aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận
                        xóa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">Bạn có chắc chắn muốn xóa phiếu nhập này không?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger" ng-click="confirmDelete()">Xóa</button>
                </div>
            </div>
        </div>
    </div>
    <!--Form phiếu nhập-->
    <div class="card-header card-header-divider">Quản lý phiếu nhập</div>
    <div class="card-body" ng-show="showPhieuNhapForm">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="inputUserName">Tên người nhập:</label>
                <input class="form-control" type="text" ng-model="form.user.fullName">
            </div>
            <div class="form-group col-md-6">
                <label>Nhà cung cấp</label>
                <div>
                    <select class="select2 form-control" ng-model="form.supplier.supplierID">
                        <option value="" disabled selected>Vui lòng chọn nhà cung cấp</option>
                        <option ng-repeat="i in importSup" ng-value="i.supplierID">{{i.supplierName}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label for="inputPassword3">Tổng tiền</label>
                <input class="form-control" id="inputPassword3" type="text" placeholder="Tổng tiền" required=""
                    ng-model="form.totalAmount" readonly="true">
            </div>

            <div class="form-group col-md-6">
                <label for="inputPassword4">Ngày nhập</label>
                <div ng-model="form.importDate" class="form-control" id="ngaytao" readonly="true">{{ form.importDate |
                    date:'dd-MM-yyyy HH:mm:ss' }}</div>
            </div>
        </div>

        <div class="row pt-0 pt-sm-5">
            <div class="col-sm-12 pl-0">
                <p class="text-right">
                    <button class="btn btn-space btn btn-primary" type="submit"
                        ng-click="showPhieuNhapForm = false; showChiTietForm = true">
                        <i class="bi bi-arrow-bar-right"></i>Thêm chi tiết
                    </button>
                    <button class="btn btn-space btn btn-success" ng-click="create()" type="submit"><i
                            class="bi bi-file-plus-fill"></i>Thêm</button>
                    <button class="btn btn-space btn btn-dark" ng-click="reset()"><i
                            class="bi bi-arrow-clockwise"></i>Làm mới</button>
                </p>
            </div>
        </div>
    </div>
    <!--Form chi tiết phiếu nhập-->
    <div class="card-body" ng-show="showChiTietForm">
        <div class="row">
            <div class="form-group col-md-6">
                <label>Phiếu nhập</label>
                <div>
                    <select class="select2 form-control" ng-model="form.importReceipt.importReceiptId">
                        <option value="" disabled selected>Vui lòng chọn phiếu nhập</option>
                        <option ng-repeat="p in items" ng-value="p.importReceiptId">{{p.importReceiptId}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Sản phẩm</label>
                <div>
                    <!-- <select class="select2 form-control" ng-model="form.productDetail.productDetailID">
                        <option value="" disabled selected>Vui lòng chọn sản phẩm</option>
                        <option ng-repeat="p in uniqueProducts(prods) track by p.productDetailID"
                                ng-value="p.productDetailID">
                            {{p.product.productName}}
                        </option>
                    </select> -->
                    <select class="select2 form-control" ng-model="form.productDetail.productDetailID">
                        <option value="" disabled selected>Vui lòng chọn sản phẩm</option>
                        <option ng-repeat="p in prods" ng-value="p.productDetailID">
                            {{p.product.productName}} ({{p.color.colorName}}) ({{p.size.sizeNumber}})
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="form-group col-md-6">
                <label>Size</label>
                <div>
                    <select class="select2 form-control" ng-model="form.productDetail.size.sizeID">
                        <option value="" disabled selected>Vui lòng chọn size</option>
                        <option ng-repeat="p in prods" ng-value="p.size.sizeID">{{p.size.sizeNumber}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label>Màu sắc</label>
                <div>
                    <select class="select2 form-control" ng-model="form.productDetail.color.colorID">
                        <option value="" disabled selected>Vui lòng chọn màu sắc</option>
                        <option ng-repeat="p in prods" ng-value="p.color.colorID">{{p.color.colorName}}</option>
                    </select>
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="form-group col-md-6">
                <label for="inputPassword3">Số lượng</label>
                <input class="form-control" id="inputPassword3" type="text" placeholder="Số lượng" required=""
                    ng-model="form.quantity">
            </div>

            <div class="form-group col-md-6">
                <label for="inputPassword4">Đơn giá</label>
                <input class="form-control" id="inputPassword4" type="text" placeholder="Đơn giá" required=""
                    ng-model="form.price">
            </div>
        </div>

        <div class="row pt-0 pt-sm-5">
            <div class="col-sm-12 pl-0">
                <p class="text-right">
                    <button class="btn btn-space btn btn-primary"
                        ng-click="showPhieuNhapForm = true; showChiTietForm = false" type="submit"><i class="bi bi-arrow-bar-left"></i>Thêm phiếu nhập</button>
                    <button class="btn btn-space btn btn-success" ng-click="createDetail()" type="submit"><i
                            class="bi bi-file-plus-fill"></i>Thêm</button>
                    <button class="btn btn-space btn btn-dark" ng-click="reset()"><i
                            class="bi bi-arrow-clockwise"></i>Làm mới</button>
                </p>
            </div>
        </div>
    </div>
    <!--Form chi tiết phiếu nhập kết thúc-->

    <!-- Modal hiển thị chi tiết phiếu nhập -->
    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailsModalLabel">Chi tiết phiếu nhập</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div ng-if="importDetail.length > 0">
                        <b>
                            <h3 style="text-align: center;">Phiếu nhập {{importDetail[0].importReceipt.importReceiptId}}
                            </h3>
                        </b>
                    </div>
                    <table class="table">
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Size</th>
                            <th>Màu sắc</th>
                            <th>Đơn giá</th>
                        </tr>
                        <tr ng-repeat="item in importDetail">
                            <td>{{item.productDetail.product.productName}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.productDetail.size.sizeNumber}}</td>
                            <td>{{item.productDetail.color.colorName}}</td>
                            <td>{{formatToVND(item.price)}}</td>
                        </tr>
                    </table>
                    <hr>
                    <div class="text-right" ng-if="importDetail.length > 0">
                        <b>
                            <h3>Tổng tiền: {{formatToVND(importDetail[0].importReceipt.totalAmount)}}</h3>
                        </b>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="exportPdf()">Xuất PDF</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="card card-table m-3">
    <div class="card-header">Danh sách phiếu nhập
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th ng-repeat="column in sortableColumns" ng-click="sortByColumn(column.name)">{{ column.label }}
                        <span ng-if="sortColumn === column.name"> <span ng-if="sortReverse"
                                class="mdi mdi-long-arrow-down"></span> <span ng-if="!sortReverse"
                                class="mdi mdi-long-arrow-up"></span>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in pager.items">
                    <td>{{item.importReceiptId}}</td>
                    <td>{{item.user.fullName}}</td>
                    <td>{{item.supplier.supplierName}}</td>
                    <td>{{ formatToVND(item.totalAmount) }}</td>
                    <td>{{item.importDate | date : 'dd-MM-yyyy'}}</td>
                    <td class="actions">
                        <button class="btn btn-space btn btn-primary" ng-click="edit(item)">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button class="btn btn-space btn btn-dark" ng-click="loadImportDetail(item.importReceiptId)">
                            <i class="bi bi-eye"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="card-header d-flex justify-content-end">
            <div>
                <ul class="pagination">
                    <li class="page-item">
                        <button style="font-size: 25px" ng-click="pager.first()" class="page-link">
                            <span class="mdi mdi-skip-previous"></span>
                        </button>
                    </li>

                    <li class="page-item" ng-repeat="page in visiblePages"
                        ng-class="{ 'active': (page.value === pager.page + 1) }"><a class="page-link" href=""
                            ng-click="pager.goto(page.value)">{{
                            page.value }}</a></li>

                    <li class="page-item">
                        <button style="font-size: 25px" ng-click="pager.last()" class="page-link">
                            <span class="mdi mdi-skip-next"></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div style="color: #eee;">123</div>