<div class="content-wrapper">
    <div class="card mb-5"
         style="box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;">
        <div class="card-body">
            <h4 class="card-title">Quản lý người dùng</h4>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputUserName">Mã người dùng</label> <input
                        class="form-control" id="inputUserName" type="text"
                        ng-model="form.usersId" readonly="true">
                </div>

                <div class="form-group col-md-6">
                    <label for="inputPassword3">Nguồn</label> <input
                        class="form-control" id="inputPassword3" type="text"
                        placeholder="Tên danh mục" required="" readonly="true"
                        ng-model="form.origin">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputUserName">Họ và tên</label> <input
                        class="form-control" id="" type="text"
                        ng-model="form.fullName">
                </div>

                <div class="form-group col-md-6">
                    <label for="inputPassword3">Ngày sinh</label> <input
                        class="form-control" id="" type="date"
                        placeholder="Tên danh mục" required=""
                        ng-model="form.birthday">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputUserName">Địa chỉ email</label> <input
                        class="form-control" id="" type="text"
                        ng-model="form.email">
                </div>

                <div class="form-group col-md-6">
                    <label for="inputPassword3">Số điện thoại</label> <input
                        class="form-control" id="" type="text"
                        placeholder="Tên danh mục" required=""
                        ng-model="form.phone">
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-form-label text-sm-left" style="padding: 0">Quyền</label>
                    <div class="form-check mt-1">
<!--                        <label class="custom-control custom-radio custom-control-inline">-->
<!--                            <input ng-model="form.role" class="custom-control-input"-->
<!--                                   ng-value="User" type="radio" name="available" checked=""><span-->
<!--                                class="custom-control-label custom-control-color">User</span>-->
<!--                        </label> <label class="custom-control custom-radio custom-control-inline">-->
<!--                        <input ng-model="form.role" class="custom-control-input"-->
<!--                               ng-value="Employee" type="radio" name="available"><span-->
<!--                            class="custom-control-label custom-control-color">Employee</span>-->
<!--                    </label>-->
<!--                        <label class="custom-control custom-radio custom-control-inline">-->
<!--                            <input ng-model="form.role" class="custom-control-input"-->
<!--                                   ng-value="Admin" type="radio" name="available"><span-->
<!--                                class="custom-control-label custom-control-color">Admin</span>-->
<!--                        </label>-->
                        <label class="custom-control custom-radio custom-control-inline">
                            <input ng-model="form.status" class="custom-control-input"
                                   ng-value="true" type="radio" name="available" checked><span
                                class="custom-control-label custom-control-color">User</span>
                        </label>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="inputPassword3">Hoạt động</label> <input
                        class="form-control" id="" type="text"
                        placeholder="Tên danh mục" required=""
                        ng-model="form.activaties">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputPassword3">Hình ảnh</label> <input
                        class="form-control" id="photo" type="file">
                </div>

                <div class="form-group col-md-6">
                    <label class="col-form-label text-sm-left" style="padding: 0">Trạng
                        thái</label>
                    <div class="form-check mt-1">
                        <label class="custom-control custom-radio custom-control-inline">
                            <input ng-model="form.status" class="custom-control-input"
                                   ng-value="true" type="radio" name="available" checked=""><span
                                class="custom-control-label custom-control-color">Bật</span>
                        </label> <label class="custom-control custom-radio custom-control-inline">
                        <input ng-model="form.status" class="custom-control-input"
                               ng-value="false" type="radio" name="available"><span
                            class="custom-control-label custom-control-color">Tắt</span>
                    </label>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputUserName">Địa chỉ</label> <textarea rows="4" cols="50"
                                                                         class="form-control" id="" type="text"
                                                                         ng-model="form.address"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12" ng-if="form.categoryImage">
                    <img style="height: 60%; width: 20%;" alt=""
                         src="{{ form.categoryImage }}">
                </div>
            </div>

            <div class="template-demo text-right mb-3">
                <button type="button" ng-click="create()"
                        class="btn btn-outline-primary btn-fw" data-toggle="tooltip"
                        title="Thêm sản phẩm mới">
                    <span class="ti-agenda"></span>
                </button>
                <button type="button" ng-click="update()"
                        class="btn btn-outline-warning btn-fw" data-toggle="tooltip"
                        title="Cập nhật sản phẩm">
                    <span class="ti-support"></span>
                </button>
                <button type="button" ng-click="confirmHide()" type="submit"
                        class="btn btn-outline-danger btn-fw" data-toggle="tooltip"
                        title="Xóa sản phẩm">
                    <span class="ti-trash"></span>
                </button>
                <button type="button" ng-click="reset()"
                        class="btn btn-outline-dark btn-fw" data-toggle="tooltip"
                        title="Làm mới form">
                    <span class="ti-control-shuffle"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="card"
         style="box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;">
        <!-- 	thùng rác bắt đầu -->
        <div class="modal fade" id="recycleBinModal" tabindex="-1"
             aria-labelledby="searchModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl"
                 style="width: 1500px; height: 600px;">
                <div class="modal-content"
                     style="background-color: #eee; max-width: 1500px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="searchModalLabel">Thùng rác</h5>
                        <button class="close modal-close" type="button"
                                data-dismiss="modal" aria-hidden="true">
                            <span class="mdi mdi-close"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th ng-repeat="column in sortableColumns"
                                    ng-click="sortByColumn(column.name)">{{ column.label }} <span
                                        ng-if="sortColumn === column.name"> <span
                                        ng-if="sortReverse" class="mdi mdi-long-arrow-down"></span> <span
                                        ng-if="!sortReverse" class="mdi mdi-long-arrow-up"></span>
									</span>
                                </th>

                                <th class="actions"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="categoryitem in RestorePager.categoryitemss">
                                <td>{{categoryitem.categoryID}}</td>
                                <td>{{categoryitem.categoryName}}</td>
                                <td>
                                    <div class="image-container">
                                        <img class="image-content"
                                             alt="{{categoryitem.categoryName}}"
                                             src="{{categoryitem.categoryImage}}">
                                    </div>
                                </td>
                                <td>{{categoryitem.modifyDate | date: 'dd-MM-yyyy'}}</td>
                                <td>{{categoryitem.activities ? 'Đang bật' : 'Đang tắt' }}</td>
                                <td class="actions">
                                    <button class="btn btn-space btn btn-primary "
                                            ng-click="restore(categoryitem)">
                                        <i class="ti-back-right"></i>
                                    </button>
                                    <button class="btn btn-space btn btn-danger "
                                            ng-click="confirmDelete(categoryitem)">
                                        <i class="ti-trash"></i>
                                    </button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <div class="d-flex justify-content-end">
                            <div>
                                <ul class="pagination">
                                    <li class="page-item">
                                        <button ng-click="RestorePager.first()" class="page-link">
                                            <span class="ti-angle-double-left"></span>
                                        </button>
                                    </li>

                                    <li class="page-item"
                                        ng-repeat="RestorePage in RestoreVisiblePages"
                                        ng-class="{ 'active': (RestorePager.value === RestorePager.RestorePage + 1) }">
                                        <a
                                                class="page-link" href=""
                                                ng-click="RestorePager.RestoreGoto(RestorePage.value)">{{
                                            RestorePage.value }}</a></li>

                                    <li class="page-item">
                                        <button ng-click="RestorePager.last()" class="page-link">
                                            <span class="ti-angle-double-right"></span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- thùng rác kết thúc -->
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="mb-0">Danh sách người dùng</h4>
                <div class="d-flex">
                    <!-- Thẻ select box -->
                    <select class="form-control mr-2" ng-model="selectedActivity"
                            data-toggle="tooltip" title="Lọc theo trạng thái thương hiệu"
                            ng-change="filterByActivities()" style="width: 200px;">
                        <option value="all">Tất cả</option>
                        <option value="true">Đang bật</option>
                        <option value="false">Đang tắt</option>
                    </select>
                    <button type="button"
                            class="btn btn-outline-success btn-fw mr-2 export"
                            data-toggle="tooltip" title="Xuất file Excel">
                        <span class="fa ti-file"></span>
                    </button>
                    <button type="button"
                            class="btn btn-outline-danger btn-fw mr-2 pdf-file"
                            data-toggle="tooltip" title="Xuất file PDF">
                        <span class="ti-files"></span>
                    </button>
                    <!-- Nút tìm kiếm -->
                    <button ng-click="searchProductCateByName()"
                            class="btn btn-outline-info btn-fw mr-2" data-toggle="tooltip"
                            title="Tìm kiếm">
                        <span class="ti-search"></span>
                    </button>
                    <!-- Nút thùng rác -->
                    <button ng-click="openRecycleBinForm()"
                            class="btn btn-outline-warning btn-fw" data-toggle="tooltip"
                            title="Thùng rác">
                        <span class="ti-trash"></span>
                    </button>
                </div>

            </div>
            <table class="table table-hover" id="sampleTable">
                <thead>
                <tr>
                    <th ng-repeat="column in sortableColumns"
                        ng-click="sortByColumn(column.name)">{{ column.label }} <span
                            ng-if="sortColumn === column.name"> <span
                            ng-if="sortReverse" class="mdi mdi-long-arrow-down"></span> <span
                            ng-if="!sortReverse" class="mdi mdi-long-arrow-up"></span>
						</span>
                    </th>
                    <th class="actions"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in pager.uList">
                    <td>{{user.usersId}}</td>
                    <td>{{user.fullName}}</td>
                    <td>
                        <div class="image-container">
                            <img class="image-content" alt="Giày thể thao"
                                 src="https://firebasestorage.googleapis.com/v0/b/stepupstyles-97319.appspot.com/o/Category%2Fgrid4.jpg?alt=media&amp;token=127d7bd7-808d-407a-8fbc-11a1f697f21c">
                        </div>
                    </td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.role}}</td>
                    <td class="actions">
                        <button ng-click="edit(user)" class="btn btn-inverse-primary btn-rounded btn-icon"
                                data-toggle="tooltip" data-placement="top" title="Chỉnh sửa">
                            <i class="ti-pencil"></i>
                        </button>
                        <button ng-click="confirmHideTable(productitem)"
                                class="btn btn-inverse-danger btn-rounded btn-icon" data-toggle="tooltip"
                                data-placement="top" title="Xóa">
                            <i class="ti-trash"></i>
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <div>
                    <ul class="pagination">
                        <li class="page-item">
                            <button ng-click="pager.first()" class="page-link">
                                <span class="ti-angle-double-left"></span>
                            </button>
                        </li>

                        <li class="page-item" ng-repeat="page in visiblePages"
                            ng-class="{ 'active': (page.value === pager.page + 1) }"><a
                                class="page-link" href="" ng-click="pager.goto(page.value)">{{
                            page.value }}</a></li>

                        <li class="page-item">
                            <button ng-click="pager.last()" class="page-link">
                                <span class="ti-angle-double-right"></span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>